@import '~ui/scss/init/breakpoints';

.additional-filters {
  .checkbox {
    height: var(--height-input);
    justify-content: center;
    padding: 0 var(--spacing-s);
    background-color: var(--color-input-bg);
    border-radius: var(--border-radius);

    @media (min-width: $breakpoint-small) {
      width: 50%;
    }

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      padding-top: 2px; // @rave vertical centering
    }

    label::before {
      top: 0; // override the "-1" default, which was clipping the top edge.
    }

    label::after {
      top: 7px; // compensation due to the override above.
    }
  }
}
