@import '~ui/scss/init/breakpoints';

$OPTIONS_MIN_WIDTH: 250px;

.additional-filters {
  box-sizing: border-box;
  margin-right: var(--spacing-m);
  @media (max-width: $breakpoint-small) {
    margin-right: 0;
  }
  // Additional 'fieldset' nesting is only needed to due to our current css
  // situation, and to avoid using !important. Can remove after we flatten things.
  fieldset {
    .filer-checkbox-wrapper {
      display: flex;
      flex-flow: column;
      background-color: var(--color-background);
      border-radius: var(--border-radius);

      div:last-of-type {
        .checkbox {
          margin-bottom: var(--spacing-xs);
        }
      }
    }
    .checkbox {
      padding: 0 var(--spacing-s);
      margin-top: var(--spacing-xs);
      margin-left: 0;
      align-items: start;
      background-color: unset;

      @media (min-width: $breakpoint-small) {
        width: $OPTIONS_MIN_WIDTH;
      }

      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        padding-top: 2px; // todo: remove when checkbox-centering problem is solved.
      }

      label::before {
        top: 0; // override the "-1" default, which was clipping the top edge.
        border: 2px solid var(--color-border);
        margin-top: 0;
      }

      label::after {
        top: 7px; // compensation due to the override above.
        margin-top: 1px;
      }

      input {
        margin-left: var(--spacing-s);
        z-index: 1;
        margin-top: -3px;
      }
    }
  }
}
