/*
.claim-preview__featured{
  width:100% !important;
  margin-top:var(--spacing-s);
  background:rgba(255,0,0,0.2);
  display:flex;

  .media__thumb{
    width:350px;
    height:200px;
  }

  .claim-tile__header{
    flex:1;
  }
}
*/
.home-tab {
  .section__header--actions {
    display: none;
  }

  .channel_sections__actions {
    margin-bottom: var(--spacing-s);
  }

  .home-segment-title {
    margin-bottom: var(--spacing-s);
    margin-top: 0;
  }

  .claim-tile__info {
    padding-bottom: 0;
  }

  .segment-wrapper {
    background: none;
    transition: background 0.2s;
    .order {
      display: none;
      align-self: center;

      .collection-preview__edit-buttons {
        height: 100px;
        width: 20px;
        // border:2px solid var(--color-border);
      }
    }
    .segment {
      transform: scale(1);
      background: none;
      padding: 0;
      transition: all 0.2s;
      margin-right: 0;
      padding-bottom: var(--spacing-m);
      margin-bottom: var(--spacing-m);
      border-bottom: 1px solid var(--color-border);
    }
  }

  .segment-wrapper--edit {
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: rgba(var(--color-header-background-base), 0.4);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-xs);
    width: 100%;
    .order {
      display: inline-block;
      width: 160px;
      margin: var(--spacing-s);
      border-radius: var(--border-radius);
    }
    .segment {
      width: 100%;
      margin-left: auto;
      background: var(--color-header-background);
      padding: var(--spacing-xs) var(--spacing-m);
      transform: scale(0.8);
      margin: 0;
      // margin-right:calc(-10% + (var(--spacing-s) * 2));
      border-radius: var(--border-radius);
      border-bottom: none;

      align-self: flex-end;
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .claim-preview__wrapper {
        background-color: unset;
      }
    }
  }
}
