.home-tab {
  .section__header--actions {
    display: none;
  }

  .channel_sections__actions {
    margin-bottom: var(--spacing-s);
  }

  .home-section-title {
    margin-bottom: var(--spacing-s);
    margin-top: 0;
  }

  .claim-tile__info {
    padding-bottom: 0;
  }

  .home-section-wrapper {
    background: none;
    transition: background 0.2s;
    .order {
      display: none;
      margin: calc(var(--spacing-s) * 2) !important;

      .collection-preview__edit-buttons {
        height: 100px;
        border: 2px solid var(--color-border);
        border-radius: var(--border-radius);
      }
    }
    .home-section-content {
      width: 100%;
    }

    .section {
      transform: scale(1);
      background: none;
      padding: 0;
      transition: all 0.2s;
      margin-right: 0;
      padding-bottom: var(--spacing-m);
      margin-bottom: var(--spacing-m);
      border-bottom: 1px solid var(--color-border);
    }
  }

  .home-section-wrapper--edit {
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: rgba(var(--color-header-background-base), 0.4);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-xs);
    width: 100%;
    .order {
      display: inline-block;
      width: 160px;
      margin: var(--spacing-s);
      border-radius: var(--border-radius);
    }
    .section {
      width: 100%;
      margin-left: auto;
      background: var(--color-header-background);
      padding: var(--spacing-xs) var(--spacing-m);
      transform: scale(0.8);
      margin: 0;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius);
      margin-top: calc(var(--spacing-s) * -1);

      align-self: flex-end;
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .claim-preview__wrapper {
        background-color: unset;
      }
    }
  }

  .home-section-header-wrapper {
    display: flex;
    margin-left: 10%;
    padding-top: var(--spacing-s);
    width: 80%;

    .home-section-header-option {
      padding-right: var(--spacing-s);

      label {
        display: block;
      }
      select {
        border: 2px solid var(--color-border);
      }

      /*
      &:last-of-type {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        width: 100%;
        padding-right: 0;
      }
      */
    }
  }
}

.home-tab-edit {
  position: fixed;
  bottom: 0;
  width: calc(100% - 2 * var(--spacing-l));
  max-width: var(--page-max-width);
  // height:80px;
  background-color: var(--color-header-background);
  border: 2px solid var(--color-border);
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0px 1px 16px 4px #000000;
  backdrop-filter: blur(4px);
  background-color: var(--color-header-background);
  animation-name: moveUp;
  animation-duration: 0.2s;
  padding: var(--spacing-s);

  .button {
    margin-right: var(--spacing-m);
  }
}

@keyframes moveUp {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}
