@import '~ui/scss/init/breakpoints';

.featured-banner-wrapper {
  // position: sticky;
  // top:10px;
  // position: relative;
  position: relative;
  width: calc(100% + 80px);
  margin-top: -32px;
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 20%;
  background: black;
  margin-bottom: var(--spacing-l);
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .banner-controls {
    /*
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:0;
    width: calc(100% - 2 * var(--spacing-l));
    // width: 100%;
    // width: var(--page-max-width);
    // max-width: var(--page-max-width);
    height:100%;
    background:red;
    margin-right: auto;
    margin-left: auto;    
    align-self: center;
    // left:var(--side-nav-width--micro);
    */
  }

  .featured-banner-rotator {
    position: absolute;
    top: 0;
    margin-left: 0;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .featured-banner-image {
    width: 100%;
    display: inline-block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: calc(100% - var(--side-nav-width--micro));
    background-position: var(--side-nav-width--micro) var(--header-height);

    @media (max-width: $breakpoint-medium) {
      background-size: 100%;
      background-position: 0 var(--header-height);
    }
    /*
    img {
      width: 100%;
    }*/
  }
  .featured-banner-remove {
    position: absolute;
    top: var(--spacing-m);
    right: 40px;
    background-color: var(--color-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    display: flex;
    opacity: 0;

    svg {
      width: 1rem;
      height: 1rem;
      stroke: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .banner-active-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
    bottom: var(--spacing-m);
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(150, 150, 150, 0.6);
      display: inline-block;
      margin: 0 var(--spacing-xxs);
      transition: all 1s;
      &:hover {
        cursor: pointer;
        background: white !important;
      }
    }

    @media (max-width: $breakpoint-small) {
      bottom: 3px;
      div {
        width: 6px;
        height: 6px;
      }
    }
  }

  .banner-active-indicator-active {
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    @media (max-width: $breakpoint-small) {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .banner-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: 40px;
    }
    &.right {
      right: 40px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .banner-browse,
    .featured-banner-remove {
      opacity: 1;
    }
  }
}
