@import '~ui/scss/init/breakpoints';

.featured-banner-wrapper {
  position: relative;
  width: calc(100% + 80px);
  margin-top: -32px;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 32px;
  padding-top: 19%;
  background: black;
  margin-bottom: var(--spacing-l);
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .featured-banner-rotator {
    position: absolute;
    top: 0;
    margin-left: 0;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .featured-banner-image {
    display: inline-block;
    max-height: 100%;
    img {
      width: 100%;
    }
  }
  .featured-banner-remove {
    position: absolute;
    top: var(--spacing-m);
    right: 40px;
    background-color: var(--color-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    display: flex;
    opacity: 0;

    svg {
      width: 1rem;
      height: 1rem;
      stroke: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .banner-active-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
    // bottom: var(--spacing-m);
    div {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(150, 150, 150, 0.6);
      border: 1px solid white;
      display: inline-block;
      margin: 0 var(--spacing-xxs);
      transition: all 1s;
      &:hover {
        cursor: pointer;
        background: white !important;
      }
    }

    @media (max-width: $breakpoint-small) {
      bottom: 5px;
      div {
        width: 6px;
        height: 6px;
      }
    }
  }

  .banner-active-indicator-active {
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    @media (max-width: $breakpoint-small) {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .banner-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: 40px;
    }
    &.right {
      right: 40px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .banner-browse,
    .featured-banner-remove {
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-top: calc(var(--spacing-xs) * -1);
    margin-bottom: var(--spacing-s);
    .banner-browse,
    .featured-banner-remove {
      opacity: 1;
    }

    .banner-browse {
      width: 30px;
      height: 30px;
      font-size: 20px;
      top: unset;
      bottom: var(--spacing-xxxs);
    }
    .featured-banner-remove {
      top: var(--spacing-xxxs);
    }
  }
}
