@import '~ui/scss/init/breakpoints';

.featured-banner-wrapper {
  position: relative;
  width: 100%;
  background: black;
  margin-bottom: var(--spacing-l);
  overflow: hidden;
  border-radius: var(--border-radius);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .featured-banner-rotator {
    margin-left: 0;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .featured-banner-image {
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .featured-banner-remove {
    position: absolute;
    top: var(--spacing-m);
    right: var(--spacing-m);
    background-color: var(--color-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    // border:1px solid white;
    display: flex;
    opacity: 0;

    svg {
      width: 1rem;
      height: 1rem;
      stroke: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .banner-active-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
    bottom: var(--spacing-m);
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(150, 150, 150, 0.6);
      display: inline-block;
      margin: 0 var(--spacing-xxs);
      transition: all 1s;
      &:hover {
        cursor: pointer;
        background: white !important;
      }
    }

    @media (max-width: $breakpoint-small) {
      bottom: 3px;
      div {
        width: 6px;
        height: 6px;
      }
    }
  }

  .banner-active-indicator-active {
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    @media (max-width: $breakpoint-small) {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .banner-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    // border:2px solid rgba(255,255,255,0.4);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: var(--spacing-m);
    }
    &.right {
      right: var(--spacing-m);
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
      // border:2px solid rgba(255,255,255,1);
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .banner-browse,
    .featured-banner-remove {
      opacity: 1;
    }
  }
}
