@import '~ui/scss/init/breakpoints';

.featured-banner-wrapper {
  position: relative;
  width: calc(100% + calc(var(--spacing-xs) * 2));
  margin-top: -32px;
  margin-left: calc(var(--spacing-xs) * -1);
  margin-right: calc(var(--spacing-xs) * -1);
  padding-top: 20%;
  background: black;
  margin-bottom: var(--spacing-l);
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (min-width: $breakpoint-medium) {
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-right: -40px;
  }

  .featured-banner-rotator {
    position: absolute;
    top: 0;
    margin-left: 0;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .featured-banner-image {
    display: inline-block;
    max-height: 100%;
    img {
      width: 100%;
    }
  }
  .banner-context-menu {
    position: absolute;
    top: var(--spacing-m);
    right: 40px;
    z-index: 10;
    opacity: 0;
  }

  .banner-menu-button {
    background: var(--color-dropdown-background);
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 0;

    &:hover {
      background: var(--color-dropdown-background);
      color: var(--color-primary);
    }
  }

  .banner-menu-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--color-dropdown-background);
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    min-width: 150px;
    backdrop-filter: blur(8px);
    z-index: 20;
    padding: 2px 0;
  }

  .banner-menu-item {
    display: block;
    width: 100%;
    padding: 10px 16px;
    text-align: left;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--color-menu-item-color);

    &:hover {
      background-color: var(--color-menu-item-hover);
    }
  }

  .banner-active-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
    bottom: var(--spacing-m);
    div {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(150, 150, 150, 0.6);
      border: 1px solid white;
      display: inline-block;
      margin: 0 var(--spacing-xxs);
      transition: all 1s;
      &:hover {
        cursor: pointer;
        background: white !important;
      }
    }

    @media (max-width: $breakpoint-small) {
      bottom: 5px;
      div {
        width: 6px;
        height: 6px;
      }
    }
  }

  .banner-active-indicator-active {
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    @media (max-width: $breakpoint-small) {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .banner-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: var(--spacing-xs);
      @media (min-width: $breakpoint-medium) {
        left: 40px;
      }
    }
    &.right {
      right: var(--spacing-xs);
      @media (min-width: $breakpoint-medium) {
        right: 40px;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .banner-browse,
    .banner-context-menu {
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-top: calc(var(--spacing-xs) * -1);
    .banner-browse,
    .banner-context-menu {
      opacity: 1;
    }

    .banner-browse {
      width: 30px;
      height: 30px;
      font-size: 20px;
      top: unset;
      bottom: var(--spacing-xxxs);
    }
    .banner-context-menu {
      top: var(--spacing-xxxs);
    }
  }
}
