.featured-banner-wrapper {
  width: 100%;
  // height:510px;
  background: black;
  margin-bottom: var(--spacing-l);
  overflow: hidden;
  border-radius: var(--border-radius);

  .featured-banner-rotator {
    margin-left: 0;
    transition: all 1s;
    // overflow-x:scroll;
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .featured-banner-image {
    display: inline-block;
  }
}
