node_modules
dist
.pnpm-store
web/node_modules
web/dist
.git
.github
.devcontainer
.githooks
.claude
.vscode
.idea
.cache
*.md
!.env.defaults
playwright-report
tests
flow-typed
.env
.env.local
.DS_Store
