HTTP_PORT=80
ODYSEE_FRONTEND_TAG=latest
WEB_CONCURRENCY=8
LBRY_WEB_API=https://api.odysee.com
CHAINQUERY_MYSQL_PASSWORD=replace-me
WATCHTOWER_POLL_INTERVAL=300
DOCKER_CONFIG_DIR=/home/odysee/.docker
DOCKER_API_VERSION=1.44
