FRONTEND_BIND=127.0.0.1:1338:1337
ODYSEE_FRONTEND_TAG=latest
WEB_CONCURRENCY=8
LBRY_WEB_API=https://api.odysee.com
CHAINQUERY_MYSQL_PASSWORD=replace-me
HOMEPAGES_DIR=/home/odysee/odysee-homepages/homepages
WATCHTOWER_POLL_INTERVAL=300
DOCKER_CONFIG_DIR=/home/odysee/.docker
DOCKER_API_VERSION=1.44
