@import '~ui/scss/init/breakpoints';
@import '~ui/scss/init/mixins';

$ICON_OFFSET: 2px; // depends on font used. boo.

.paid-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.paid-content-overlay__body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(4px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  .purchase-button:not(.purchase-button--fee) {
    background-color: var(--color-fiat-payment) !important;
  }
}

.paid-content-prompt {
  @include font-sans;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .paid-content-prompt__notice {
    // TODO: this should extend [.help--notice]
    border-radius: var(--border-radius);
    border: 1px solid var(--color-fiat-payment);
    background-color: rgba(var(--color-fiat-payment-decimal), 0.2);
    color: var(--color-text);
    padding: var(--spacing-xs) var(--spacing-s);
    margin-bottom: var(--spacing-s);
    font-size: var(--font-small);
  }

  .paid-content-prompt__price {
    font-size: var(--font-body);

    .icon {
      margin-right: var(--spacing-xs);
      margin-bottom: -$ICON_OFFSET;
    }

    margin-bottom: var(--spacing-s);
  }
}

.paid-content-prompt--overlay {
  align-items: center;

  .paid-content-prompt__notice {
    font-size: var(--font-base);
  }
}
