@import '~ui/scss/init/breakpoints';

.membershipPage-wrapper {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  max-width: unset;

  .tab__wrapper {
    background-color: var(--color-background);
    margin-bottom: var(--spacing-l);
    border-bottom: 1px solid var(--color-header-button);
  }

  .tab__panel {
    position: relative;
    width: calc(100% - 2 * var(--spacing-l));
    max-width: var(--page-max-width);
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $breakpoint-small) {
      width: 100%;
    }
  }

  .tabs {
    @media (max-width: $breakpoint-small) {
      position: unset;
    }
  }

  .tabs__list {
    margin: 0;
    padding: var(--spacing-xxs);
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 2 * var(--spacing-l));
    max-width: var(--page-max-width);
    border-bottom: unset;

    .tab {
      &[aria-selected='true'] {
        &:after {
          height: 4px;
          background-color: var(--color-link);
        }
      }
      &:disabled {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @media (max-width: $breakpoint-small) {
          display: none;
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      width: 100%;
      padding: var(--spacing-s) var(--spacing-xs);
    }

    @media (max-width: $breakpoint-small) {
      overflow-x: auto;
      overflow-y: hidden;

      .tab {
        flex: auto;
        white-space: nowrap;
        margin-right: var(--spacing-m);
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.supporter-header-wrapper {
  position: relative;
  background-position-y: var(--header-height);
  background-position-x: var(--side-nav-width--micro);

  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: calc(100% - var(--side-nav-width--micro));
  min-height: var(--cover-photo-height);
  height: 184px;
  width: 100%;
  margin-top: calc(var(--spacing-l) * -1);

  .supporter-header{
    position:relative;
    margin-left:auto;
    margin-right: auto;
    width: calc(100% - 2 * var(--spacing-l));
    max-width: var(--page-max-width);
    height:100%;

    .button{
      border:1px solid white;
      background-color:transparent !important;
      backdrop-filter:blur(4px);
      margin-top: var(--spacing-m);
      @media (max-width: $breakpoint-small) {
        margin-top: calc(var(--spacing-m) * 2);
      }
    }

    div {
      position: absolute;
      background-color: var(--color-header-background);
      padding: var(--spacing-m);
      border-radius: var(--border-radius);
      bottom: var(--spacing-m);
      // left: var(--spacing-m);
      padding: var(--spacing-m);
      font-size: var(--font-large);
      font-weight: var(--font-weight-bold);
      color: var(--color-text);
    }
  }



  @media (max-width: $breakpoint-small) {
    background-image: url('https://thumbnails.odycdn.com/optimize/s:600:0/quality:95/plain/https://static.odycdn.com/images/banner_DonorPortal.jpg');
    background-position: 0 0;
    background-size: 100%;
  }

  @media (min-width: $breakpoint-small) {
    background-image: url('https://thumbnails.odycdn.com/optimize/s:900:0/quality:95/plain/https://static.odycdn.com/images/banner_DonorPortal.jpg');
    background-position: 0 0;
    background-size: 100%;
  }

  @media (min-width: $breakpoint-medium) {
    background-image: url('https://thumbnails.odycdn.com/optimize/s:1150:0/quality:95/plain/https://static.odycdn.com/images/banner_DonorPortal.jpg');
    background-position: calc(50% + var(--side-nav-width--micro) / 2) calc(0% - 60px);
  }

  @media (min-width: $breakpoint-large) {
    background-image: url('https://thumbnails.odycdn.com/optimize/s:1600:0/quality:95/plain/https://static.odycdn.com/images/banner_DonorPortal.jpg');
    background-position: calc(50% + var(--side-nav-width--micro) / 2) calc(0% - 220px);
  }

  @media (min-width: $breakpoint-xlarge) {
    background-image: url('https://static.odycdn.com/images/banner_creatorPortal.jpg');
    background-position: calc(50% + var(--side-nav-width--micro) / 2) calc(0% - 220px);
  }

  &:before {
    position: absolute;
    bottom: 0;
    opacity: 1;
    content: '';
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(0deg, #0d0d0d 0, transparent 65%);
  }
}

.membership-table__wrapper {
  .table {
    thead {
      th {
        border-bottom: 2px solid rgba(var(--color-primary-static), 0.4);
      }
    }
    tbody {
      tr {
        td {
          padding: 0.8rem;
          border-bottom: 2px solid rgba(var(--color-primary-static), 0.4) !important;
        }
      }
    }


    .button--alt{
      background-image: linear-gradient(147deg, var(--color-primary), rgb(247, 121, 55));
    }
  }
  @media (max-width: $breakpoint-small) {
    overflow-x: auto !important;

    .table {
      .channelName-header {
        min-width: 180px;
      }
      thead {
        tr {
          th {
            white-space: nowrap;
          }
        }
      }
      tbody {
        tr {
          td {
            white-space: nowrap;
            padding: 0.6rem !important;
            padding-right: 0 !important;
          }
        }
      }
    }
  }
}


.membership-payments-table__wrapper {
  label{
    font-size: var(--font-xsmall);
    color: rgba(var(--color-text-base), 0.6);
    margin-left:var(--spacing-s);
  }
  .table {
    thead {
      th {
        border-bottom: 2px solid rgba(var(--color-primary-static), 0.4);
      }
    }
    tbody {
      tr {
        td {
          padding: 0.8rem;
          border-bottom: 2px solid rgba(var(--color-primary-static), 0.4) !important;
        }
      }
    }
    .button--primary{
      background-image: linear-gradient(147deg, var(--color-primary), rgb(247, 121, 55));    
    }
  }
  @media (max-width: $breakpoint-small) {
    overflow-x: auto !important;

    .table {
      .channelName-header {
        min-width: 180px;
      }
      thead {
        tr {
          th {
            white-space: nowrap;
          }
        }
      }
      tbody {
        tr {
          td {
            white-space: nowrap;
            padding: 0.6rem !important;
            padding-right: 0 !important;
          }
        }
      }
    }
  }

}