@import '~ui/scss/init/breakpoints';

.membershipPage-wrapper {
  .tabs {
    @media (max-width: $breakpoint-small) {
      position: unset;
    }
  }
  .tabs__list {
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .no-after {
      button {
        margin-right: var(--spacing-s);
      }
      .tab {
        .button--secondary {
          .button__label {
            color: var(--color-text) !important;
          }
          .icon {
            stroke: var(--color-text) !important;
          }
        }
        &:hover {
          .button--secondary {
            .button__label {
              color: var(--color-primary) !important;
            }
            .icon {
              stroke: var(--color-primary) !important;
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      overflow-x: auto;
      overflow-y: hidden;

      .tab {
        flex: auto;
        white-space: nowrap;
        margin-right: var(--spacing-m);
        &:last-of-type {
          margin-right: 0;
        }
      }

      .no-after {
        position: absolute;
        top: var(--spacing-s);
        right: 0;
        .button {
          margin-right: var(--spacing-m);
          background-color: var(--color-header-background) !important;
        }
        .button__label {
          display: none;
        }
      }
    }
  }
}

.membership__mypledges-header {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: top -140px left 0px;
  background-image: url('/public/img/my_pledges.jpg');
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin-bottom: 0;
  overflow: hidden;
  height: 96px;

  div {
    position: absolute;
    height: 400px;
    left: -110px;
    top: -210px;
    width: 40%;
    background-color: rgba(0, 208, 217, 0.6);
    transform: rotate(38deg);
  }
  label {
    position: absolute;
    background-color: var(--color-header-background);
    padding: var(--spacing-m);
    border-radius: var(--border-radius);
    top: var(--spacing-m);
    left: var(--spacing-m);
    padding: var(--spacing-m);
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
  }

  @media (max-width: $breakpoint-small) {
    background-position: unset;
  }
}

.membership-table__wrapper {
  .table {
    thead {
      th {
        border-bottom: 2px solid rgba(var(--color-primary-static), 0.4);
      }
    }
    tbody {
      tr {
        td {
          padding: 0.8rem;
          border-bottom: 2px solid rgba(var(--color-primary-static), 0.4) !important;
        }
      }
    }
  }
  @media (max-width: $breakpoint-small) {
    overflow-x: auto !important;

    .table {
      .channelName-header {
        min-width: 180px;
      }
      thead {
        tr {
          th {
            white-space: nowrap;
          }
        }
      }
      tbody {
        tr {
          td {
            white-space: nowrap;
            padding: 0.6rem !important;
            padding-right: 0 !important;
          }
        }
      }
    }
  }
}

.back-to-memberships-button {
  transform: rotate(180deg);
  margin-left: 6px;
  margin-bottom: -3px;
}
