.membership__mypledges-header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin-bottom: 0;
}

.back-to-memberships-button {
  transform: rotate(180deg);
  margin-left: 6px;
  margin-bottom: -3px;
}
