@import '~ui/scss/init/breakpoints';

.rc_aboveComments {
  margin-top: calc(var(--spacing-m) * -1);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-m);
  margin-bottom: var(--spacing-m);

  @media (max-width: $breakpoint-small) {
    margin-top: calc(var(--spacing-s) * -1);
    padding: var(--spacing-xs);
    .rc-feed-row {
      margin-bottom: var(--spacing-xs);
    }
  }

  .rc-uid-273461 {
    .sc-ckTSus,
    .kVjkXt {
      background-color: var(--color-header-button);
      border-radius: var(--border-radius);
    }
    .rc-cta {
      .rc-headline {
        color: var(--color-text) !important;
      }
      .rc-provider {
        color: rgba(var(--color-text-base), 0.6) !important;
        &:hover {
          color: rgba(var(--color-text-base), 1) !important;
        }
      }
      &:hover {
        .rc-headline {
          color: var(--color-primary) !important;
        }
      }
    }
  }

  .rc-widget-headline {
    color: var(--color-text) !important;
  }

  .rc-feed-row {
    width: 50%;
    min-width: unset !important;
  }

  .rc-widget-header {
    margin: 5px 0;
  }

  .rc-brand-wrapper {
    border-radius: 50% 0 50% 50%;
    margin-right: 0;
  }

  .rc-image-container {
    border-radius: var(--border-radius);
    min-height: unset !important;
    aspect-ratio: 16 / 9;
  }

  .jndTuo {
    transition: unset;
    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.main--markdown {
  .file-page__post-comments {
    .rc_aboveComments {
      width: 43rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--spacing-xs);

      @media (min-width: $breakpoint-large) {
        width: 52rem;
      }
      @media (max-width: $breakpoint-small) {
        width: 100%;
      }

      .rc-image-container {
        min-height: unset;
        aspect-ratio: 16 / 9;
      }
    }
  }
}

/* STICKY */
.main-wrapper {
  .hidden-rc-sticky {
    display: none !important;
  }

  .show-rc-sticky {
    opacity: 1 !important;
    bottom: var(--spacing-m) !important;
    @media (max-width: $breakpoint-small) {
      bottom: 0 !important;
    }
  }

  #sticky-d-rc {
    opacity: 0;
    position: fixed;

    bottom: -500px;
    left: calc(var(--spacing-m) + 93px) !important;
    width: calc(100% - (var(--spacing-m) * 2) - 93px) !important;
    transition: width 0.2s, left 0.2s, bottom 1s, opacity 1s !important;
    border: 2px solid var(--color-header-button);
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);

    .sticky-d-rc {
      background-color: var(--color-header-background);
      border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      height: unset;

      .sticky-d-rc-content {
        height: 134px;
      }

      .sticky-d-rc-close {
        justify-content: end;
        padding: var(--spacing-xxxs) var(--spacing-s);
        background-color: var(--color-header-background);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        width: unset;
        height: unset;
        top: -44px;
        right: -2px;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border: 2px solid var(--color-header-button);

        #rcStickyClose {
          background-color: var(--color-primary);
          color: var(--color-text);
          margin-left: var(--spacing-s);
        }
      }
    }

    .sticky-d-rc-content {
      margin: var(--spacing-s);

      #rc-widget-sticky-d {
        height: 100%;
        .layout_1 {
          height: 180px;
          .sc-cTJkRt {
            height: 100%;
            .sc-jNnpgg {
              height: 100%;
            }
          }
        }
      }
      .css-widget-item-wrap {
        .rc-sponsored,
        .rc-house {
          margin: 0;
          .rc-photo-container {
            img {
              border-radius: var(--border-radius);
            }
          }

          .rc-content {
            .rc-headline {
              color: var(--color-text);
              font-size: var(--font-small);
              @media (max-width: $breakpoint-small) {
                font-size: var(--font-small);
              }
            }
          }
        }

        &:hover {
          .rc-sponsored,
          .rc-house {
            .rc-content {
              .rc-headline {
                color: var(--color-primary);
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    &.LEFT {
      left: calc(var(--spacing-m) + var(--side-nav-width)) !important;
      width: calc(100% - (var(--spacing-m) * 2) - var(--side-nav-width)) !important;
    }

    &.FILE:not(.LEFT) {
      left: var(--spacing-m) !important;
      width: calc(100% - (var(--spacing-m) * 2)) !important;
    }

    @media (max-width: $breakpoint-small) {
      left: 0 !important;
      width: 100% !important;
      border-radius: var(--border-radius) 0 0 0;

      .sticky-d-rc-content {
        margin: var(--spacing-s);
        .rc-headline {
          line-clamp: 2;
          -webkit-line-clamp: 2;
          overflow: hidden;
          word-break: break-all;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }

        .css-widget-item-wrap {
          .rc-sponsored {
            .rc-content {
              .rc-headline {
                font-size: var(--font-small);
              }
            }
          }
        }
      }

      .sticky-d-rc {
        height: 140px;
        .sticky-d-rc-close {
          #rcStickyClose {
            background-color: var(--color-primary);
            color: var(--color-text);
            height: 30px;
          }
        }
      }

      &.FILE:not(.LEFT) {
        left: 0 !important;
        width: 100% !important;
      }
    }
  }
}

@import '~ui/scss/init/breakpoints';

.rc_tile {
  border-radius: var(--border-radius);
  padding: 0 !important;
  width: 100%;

  .rc-widget-header {
    display: none !important;
  }

  .css-widget-item-wrap {
    .rc-sponsored {
      a {
        display: flex;
        flex-flow: column;
      }
    }

    .rc-item {
      padding: 0;
      margin: 0;
      width: unset !important;
      overflow: unset !important;
      height: auto !important;

      .rc-headline {
        color: var(--color-text) !important;
        -webkit-line-clamp: 2 !important;
        font-size: var(--font-small) !important;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: -webkit-box;
        word-break: break-word;
        -webkit-box-orient: vertical;
        margin-top: unset !important;
        padding-top: var(--spacing-xs);
      }
      .rc-provider {
        color: rgba(var(--color-text-base), 0.6) !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        align-items: flex-end;
        font-size: var(--font-xsmall) !important          ;
        &:hover {
          color: rgba(var(--color-text-base), 1) !important;
        }
      }

      &:hover {
        .rc-headline {
          color: var(--color-primary) !important;
        }
      }
    }

    .rc-photo-container {
      width: 100% !important;
      flex-shrink: 0;
      display: inline-block !important;
      margin-right: var(--spacing-s);
      aspect-ratio: 16/9;
      height: unset !important;

      .rc-photo {
        border-radius: var(--border-radius);
        width: 100% !important;
        aspect-ratio: 16/9;
        height: unset !important;
      }
    }

    .rc-content {
      top: unset !important;
      margin-left: 0 !important;
      display: inline-block;
    }
  }

  .jndTuo {
    transition: unset;
    &:hover {
      background-color: var(--color-primary);
    }
  }

  .sc-iNiQyp,
  .BWoGX {
    width: 100% !important;
    padding: 0 !important;
    background: var(--color-header-background);
    color: var(--color-text);
    min-height: unset !important;
    max-height: unset !important;
    height: 160px !important;

    .sc-oeezt,
    .OJJCp {
      font-size: var(--font-small) !important;
    }
    .sc-eJocfa,
    .jARayQ {
      div {
        display: inline-block !important;
        label {
          background: var(--color-header-button);
          margin: 0 !important;
          margin-right: var(--spacing-xs) !important;
          padding: 3px var(--spacing-xxs) !important;
          border-radius: var(--border-radius) !important;
          input {
            margin: 0 !important;
          }
        }
      }
    }
  }
}

.file-page__recommended {
  .rc_tile {
    margin-left: 0;
    .css-widget-item-wrap {
      padding-top: var(--spacing-m);

      .rc-sponsored {
        a {
          display: flex;
          flex-flow: row;
        }
      }

      .rc-item {
        padding: 0;
        margin: 0;
        width: unset !important;
        overflow: unset !important;

        .rc-headline {
          color: var(--color-text) !important;
          -webkit-line-clamp: 2 !important;
          font-size: var(--font-small) !important;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          word-break: break-word;
          -webkit-box-orient: vertical;
          padding-top: 0;
        }
        .rc-provider {
          color: rgba(var(--color-text-base), 0.6) !important;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          align-items: flex-end;
          font-size: var(--font-xsmall) !important          ;
          &:hover {
            color: rgba(var(--color-text-base), 1) !important;
          }
        }

        &:hover {
          .rc-headline {
            color: var(--color-primary) !important;
          }
        }
      }

      .rc-photo-container {
        width: var(--file-list-thumbnail-width) !important;
        flex-shrink: 0;
        display: inline-block !important;
        margin-right: var(--spacing-s);
        .rc-photo {
          border-radius: var(--border-radius);
        }

        @media (max-width: $breakpoint-small) {
          width: calc(var(--file-list-thumbnail-width) * 0.8) !important;
        }
      }

      .rc-content {
        top: unset !important;
        margin-left: 0 !important;
        display: inline-block;

        @media (max-width: $breakpoint-small) {
          padding: 0 !important;
        }
      }
    }
  }
}

.claim-list {
  .ul--no-style {
    .claim-preview--tile {
      background-color: rgba(var(--color-header-button-base), 0.6);
      margin-left: 0;
      padding: var(--spacing-m);
      width: 100%;
      border-radius: var(--border-radius);
      .rc_tile {
        .css-widget-item-wrap {
          .rc-sponsored {
            .rc-photo-container {
              width: calc(var(--file-list-thumbnail-width) * 1.2) !important;
            }
            a {
              flex-flow: row;
              width: 100%;
            }
            .rc-headline {
              font-size: 1em !important;
            }
          }
        }
      }
    }
  }
}

@import '~ui/scss/init/breakpoints';

.rc_tileB {
  border-radius: var(--border-radius);
  padding: 0 !important;
  width: 100%;
  min-height: 124px;

  @media (max-width: $breakpoint-small) {
    min-height: 108px;
  }

  &.show-rc_tile {
    .css-widget-item-wrap {
      img {
        opacity: 1 !important;
      }
    }
  }

  .rc-widget-header {
    display: none !important;
  }

  .css-widget-item-wrap {
    padding-top: 0 !important;
    .rc-sponsored {
      a {
        display: flex;
        flex-flow: column;
      }
    }

    .rc-item {
      padding: 0;
      margin: 0;
      width: unset !important;
      overflow: unset !important;
      height: auto !important;

      .rc-headline {
        color: var(--color-text) !important;
        -webkit-line-clamp: 2 !important;
        font-size: var(--font-small) !important;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: -webkit-box;
        word-break: break-word;
        -webkit-box-orient: vertical;
        margin-top: unset !important;
        padding-top: var(--spacing-xs);
      }
      .rc-provider {
        color: rgba(var(--color-text-base), 0.6) !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        align-items: flex-end;
        font-size: var(--font-xsmall) !important          ;
        &:hover {
          color: rgba(var(--color-text-base), 1) !important;
        }
      }

      &:hover {
        .rc-headline {
          color: var(--color-primary) !important;
        }
      }
    }

    .rc-photo-container {
      width: 100% !important;
      flex-shrink: 0;
      display: inline-block !important;
      margin-right: var(--spacing-s);
      aspect-ratio: 16/9;
      height: unset !important;
      background-color: var(--color-header-background);
      border-radius: var(--border-radius);

      .rc-photo {
        width: 100% !important;
        aspect-ratio: 16/9;
        height: unset !important;
        opacity: 0;
        transition: all 0.2s ease;
      }
    }

    .rc-content {
      top: unset !important;
      margin-left: 0 !important;
      display: inline-block;
    }
  }

  .jndTuo {
    transition: unset;
    &:hover {
      background-color: var(--color-primary);
    }
  }

  .sc-iNiQyp,
  .BWoGX {
    width: 100% !important;
    padding: 0 !important;
    background: var(--color-header-background);
    color: var(--color-text);
    min-height: unset !important;
    max-height: unset !important;
    height: 160px !important;

    .sc-oeezt,
    .OJJCp {
      font-size: var(--font-small) !important;
    }
    .sc-eJocfa,
    .jARayQ {
      div {
        display: inline-block !important;
        label {
          background: var(--color-header-button);
          margin: 0 !important;
          margin-right: var(--spacing-xs) !important;
          padding: 3px var(--spacing-xxs) !important;
          border-radius: var(--border-radius) !important;
          input {
            margin: 0 !important;
          }
        }
      }
    }
  }

  &:hover {
    .rc-photo-container {
      border: 1px solid rgba(var(--color-primary-dynamic));
      img {
        transform: scale(1.05);
      }
    }
  }
}

.file-page__recommended {
  .rc_tileB {
    margin-left: 0;
    .css-widget-item-wrap {
      padding-top: var(--spacing-m);

      .rc-sponsored {
        a {
          display: flex;
          flex-flow: row;
        }
      }

      .rc-item {
        padding: 0;
        margin: 0;
        width: unset !important;
        overflow: unset !important;

        .rc-headline {
          color: var(--color-text) !important;
          -webkit-line-clamp: 2 !important;
          font-size: var(--font-small) !important;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          word-break: break-word;
          -webkit-box-orient: vertical;
          padding-top: 0;
        }
        .rc-provider {
          color: rgba(var(--color-text-base), 0.6) !important;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          align-items: flex-end;
          font-size: var(--font-xsmall) !important          ;
          &:hover {
            color: rgba(var(--color-text-base), 1) !important;
          }
        }

        &:hover {
          .rc-headline {
            color: var(--color-primary) !important;
          }
        }
      }

      .rc-photo-container {
        width: var(--file-list-thumbnail-width) !important;
        flex-shrink: 0;
        display: inline-block !important;
        margin-right: var(--spacing-s);
        .rc-photo {
          border-radius: var(--border-radius);
        }

        @media (max-width: $breakpoint-small) {
          width: calc(var(--file-list-thumbnail-width) * 0.8) !important;
        }
      }

      .rc-content {
        top: unset !important;
        margin-left: 0 !important;
        display: inline-block;

        @media (max-width: $breakpoint-small) {
          padding: 0 !important;
        }
      }
    }
  }
}
