.support-claim-button {
  .icon--DollarSign {
    height: 16px;
    width: 16px;
    margin-right: -5px;
    // margin-top: 4px;
  }
}

.approved-bank-account__button {
  span {
    color: #64f064;
  }
}
