.support-claim-button {
  .icon--DollarSign {
    height: 16px;
    width: 16px;
    margin-right: -5px;
    // margin-top: 4px;
  }
}

.channel__quick-actions, .media__actions {
  .approved-bank-account__button {
    span, svg {
      color: #64f064;
      stroke: #64f064 !important;
    }
  }
}

.media__actions {
  .approved-bank-account__button {
    span, svg {
      filter: brightness(0.85);
    }
  }
}
