.section__actions-span {
  width: 100%;
}

.claim-search__wrapper {
  width: 100%;

  @media (min-width: $breakpoint-small) {
    // width: auto;
  }
}

.claim-search__wrapper--wrap {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-small) {
    .wunderbar--inline {
      margin-top: 0px;
      margin-bottom: var(--spacing-xxs);
    }
  }

  @media (max-width: $breakpoint-small) {
    &:last-of-type {
      margin-top: var(--spacing-s);
    }
  }

  @media (min-width: $breakpoint-xxsmall) {
    & > *:not(:last-child) {
      margin-right: var(--spacing-s);
    }
  }
}

.claim-search__wrapper--grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1rem;
}

.claim-search__menus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-m);
  padding-left: 0px;
  padding-bottom: var(--spacing-s);
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  color: var(--color-text-subtitle);
  align-items: flex-start;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
  @media (max-width: $breakpoint-small) {
    padding: unset;
  }
}

.claim-search__dropdown {
  padding: 0 var(--spacing-m);
  padding-right: var(--spacing-xl);
  font-size: var(--font-body);
  background-color: var(--color-card-background);
  background-position: right var(--spacing-m) center;
}

.claim-search__input-container {
  display: flex;
  flex-direction: column;
  font-size: var(--font-body);
  width: 100%;

  &:not(:first-of-type) {
    margin-top: var(--spacing-s);
  }

  @media (min-width: $breakpoint-small) {
    width: auto;

    &:not(:first-of-type) {
      margin-top: 0;
      // padding-left: var(--spacing-m);
    }
  }

  &.action-button {
    flex-direction: row;
    align-items: flex-end;
  }
}

.claim-search__dropdown,
.claim-search__input-container {
  padding-left: 0;
  padding-right: var(--spacing-m);
  @media (max-width: $breakpoint-small) {
    padding-right: 0;
  }
}

.claim-search__filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.claim-search__input-special {
  font-weight: var(--font-weight-bold);
}

.claim-search__extra {
  display: flex;
  align-items: center;
}

.claim-search__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $breakpoint-small) {
    justify-content: flex-start;
  }

  .claim-search__menu-group:last-of-type {
    margin-right: unset;
  }

  @media (max-width: $breakpoint-small) {
    .claim-search__menu-group:first-of-type {
      margin-right: var(--spacing-s);
    }
  }
}

.claim-search__top > div {
  @media (max-width: $breakpoint-small) {
    margin-bottom: var(--spacing-xxs);
  }
}

.claim-search__menu-group {
  display: flex;
  flex-wrap: nowrap;
  margin-right: var(--spacing-s);

  @media (max-width: $breakpoint-small) {
    margin-right: 0;
    .button-toggle {
      padding: 0 var(--spacing-s) 0 var(--spacing-xs);
    }
  }
}

.claim-search__menu-group--inputs {
  grid-column-start: 1;
  grid-column-end: end;

  .claim-search__input-container {
    margin-top: 0px;
  }
}

.claim-search__menu-group--between {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  &:last-of-type {
    .button-toggle:last-of-type {
      margin-right: 0;
    }
  }
}

.claim-search__tags-link {
  margin-left: var(--spacing-s);
}

.claim-search__filters-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.claim-search__filters-wrapper-expanded {
  max-height: 300px;
  @media (max-width: $breakpoint-small) {
    max-height: 600px;
  }
}

.claim-search__filters {
  width: 100%;
  background-color: rgba(var(--color-header-background-base), 0.4);
  border-radius: var(--border-radius);
  padding-top: var(--spacing-s);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  margin-top: var(--spacing-s);

  .claim-search__menus {
    margin: 0;
    .claim-search__input-container {
      flex: 1 1 0;
      padding-right: 0;

      label {
        font-weight: var(--font-weight-bold);
      }

      &:last-child {
        .claim-search__dropdown {
          padding-right: 0;
        }
      }
    }
  }

  select,
  input[type='text'],
  .filer-checkbox-wrapper {
    box-shadow: 0 0 0 2px var(--color-border) inset;
  }
}
