.collection-preview__info {
  display: flex;
  align-items: center;
  position: relative;
}

.collection__subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-s);
}

.collection-preview__items {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  card {
    pointer-events: none;
  }

  .claim-preview--tile {
    z-index: 5;
    margin-bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 5px 2px #44444420;
  }
}

.collection-img__hidden {
  display: none;
}

.collection-preview-overlay__grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  opacity: 0;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .collection-preview-overlay__grid-item {
    position: relative;
    transform: scale(0.85);

    .media__thumb {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: unset !important;
      .ff-container {
        .ff-canvas {
          border-radius: unset;
        }
      }
    }
    .media__thumb__short {
      aspect-ratio: 9 / 16;
    }
  }
}

.collection-title__hasEdits {
  color: var(--color-primary);
}

.collection-select__item {
  display: flex;
  margin-bottom: var(--spacing-xs);
  margin-left: var(--spacing-xxs);

  &:first-of-type {
    margin-top: var(--spacing-xs);
  }
}

.icon-collection-select {
  vertical-align: middle;
  margin-right: var(--spacing-xs);
}

.collection-preview__edit-buttons {
  left: 0;
  top: calc(var(--spacing-m) * -1);
  bottom: calc(var(--spacing-m) * -1);
  padding-left: 0;
  margin-right: var(--spacing-s);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 2rem;

  .collection-preview__edit-group {
    display: none;
    width: 0;
    &:nth-child(1) {
      display: flex;
      width: 2rem;
    }
    .button-collection-manage {
      background-color: unset;
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-right: var(--spacing-s);
  }
}

.collection-preview__edit-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 2rem;

  align-items: center;
  justify-content: center;
  align-items: stretch;
  flex-grow: 4;

  @media (max-width: $breakpoint-small) {
    margin-right: 0;
    button {
      padding: var(--spacing-xs) var(--spacing-xs);
    }
  }
}

.collection-edit__header {
  position: relative;
  background-image: var(--color-card-background);
  display: flex;
  align-items: flex-end;
  box-sizing: content-box;
  color: #fff;
}

.collection-edit__thumb {
  position: absolute;
  top: 0;
  left: var(--spacing-l);
  margin-top: calc(var(--spacing-m) * 7);
  z-index: 1;

  > * {
    padding: 0 var(--spacing-xs);

    &:not(:last-child) {
      margin-right: var(--spacing-m);
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-top: 0;

    .button {
      margin-top: var(--spacing-l);
    }
  }
}

.collection-grid__results-summary {
  padding: 0;
  padding-bottom: var(--spacing-m);
  color: var(--color-text);
}

.collection-grid__page-items-label {
  padding-top: var(--spacing-l);
}

.collection-subtitle__info {
  display: flex;
  width: unset !important;

  .button__content {
    color: var(--color-primary);
    .icon {
      color: var(--color-text-subtitle);
    }
    &:hover {
      color: var(--color-secondary);
    }
  }

  .button--link {
    margin-right: var(--spacing-s);
  }
  .button--link:last-of-type {
    margin-right: 0;
  }

  .dim {
    color: var(--color-text-subtitle);
    stroke: var(--color-text-subtitle);
  }
}

.sort-menu__button {
  display: flex;

  button {
    &[aria-expanded='true'] {
      button {
        background-color: var(--color-button-toggle-bg-hover) !important;
      }
    }
  }
}

.card-fixed-bottom {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;

  .card--after-tabs {
    display: flex;
    padding: var(--spacing-xs);
    width: calc(100% - 2 * var(--spacing-l));
    max-width: var(--page-max-width);
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid var(--color-border);
    border-bottom: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: 0px 1px 4px 1px var(--color-shadow);
    backdrop-filter: blur(4px);
    background-color: var(--color-header-background);
    .section__actions {
      flex-flow: row;
      margin-bottom: 0;

      .button--link {
        margin-right: var(--spacing-l);
      }
    }
    .card__main-actions {
      padding-top: 0;
      margin-top: 0;
    }
    .card__first-pane {
      width: 100%;
    }
    p {
      margin-top: 0;
      margin-left: auto;
      border: 2px solid #ffdda2;
      padding: var(--spacing-xs);
      border-radius: var(--border-radius);
      background-color: rgba(255, 221, 162, 0.1);

      .icon {
        margin-right: var(--spacing-xxs);
        margin-bottom: -3px;
      }
    }
  }

  @media (max-width: $breakpoint-xsmall) {
    width: 100%;
    .card--after-tabs {
      width: 100%;
      margin-left: var(--spacing-xs);
      margin-right: var(--spacing-xs);
      .card__main-actions {
        margin-top: 0;
        padding-bottom: 0;
        .section__actions {
          margin-bottom: 0;
        }
      }
      p {
        margin-top: var(--spacing-s);
      }
      .section__actions {
        flex-flow: wrap;
      }
    }
  }
}
