.comment__badge {
  padding-right: var(--spacing-xxs);

  .icon {
    margin-bottom: -2px;
    height: 1rem;
    width: 1rem;
  }
}

// fix badge becoming red when hovered
div[role='menuitem'] .channel-selector__item .comment__badge svg,
.comment__badge svg {
  stroke: unset !important;
}

// increase sidebar brightness
span > div.navigation__subscription-title > span > span.comment__badge {
  filter: brightness(1.2);
}
