.content__viewer {
  @extend .card;
  position: absolute;
  top: var(--spacing-s);

  &:not(.content__viewer--floating) {
    border-radius: var(--border-radius);
  }

  &.content__viewer--floating {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
}

.content__viewer--mobile {
  border-radius: 0;
  position: fixed;
  max-width: 100%;
  top: var(--header-height-mobile);
}

.content__viewer--disable-click {
  pointer-events: none;
}

.content__viewer--inline:not(.shorts__viewer) {
  max-height: var(--inline-player-max-height);
  border-radius: var(--border-radius);
  border: none;

  @media (max-width: $breakpoint-small) {
    max-height: var(--mobile-player-max-height);
  }

  video {
    @media (max-width: $breakpoint-small) {
      max-height: var(--mobile-player-max-height);
    }
  }
}

.content__viewer--secondary {
  .vjs-button--theater-mode {
    display: none;
  }
}

.content__viewer--floating {
  position: fixed;
  margin-bottom: 0;
  top: 0;
  z-index: var(--floating-player-z-index);
  border: 2px solid rgba(var(--color-header-button-base), 0.5);
  background-color: #000;
  border-radius: var(--border-radius);

  .file-render--video {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  &:hover {
    .video-js--tap-to-unmute {
      max-width: calc(var(--floating-viewer-width) - (var(--spacing-xs) * 3) - 42px);
    }

    .content__floating-close {
      visibility: visible;
      z-index: 9999;
    }
  }

  @media (hover: none) and (pointer: coarse) {
    border-top-right-radius: 0 !important;
    .content__floating-close {
      visibility: visible;
      z-index: 9999;
      padding: 4px;
      width: 32px;
      height: 32px;
      top: -32px;
      right: -2px;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      // border: 2px solid #000;
    }
  }

  @media (max-width: $breakpoint-small) {
    height: 50px;
    width: 80px;
    top: 3px;
    left: calc(50% - 40px);
    transform: unset !important;
    border: unset;

    .vjs-current-time {
      display: none !important;
      opacity: 0;
    }

    .file-viewer__overlay {
      padding: unset;
    }

    .content__wrapper--floating {
      width: 100%;
      height: 100%;

      .content__floating-close {
        visibility: visible !important;
        display: inline;
        position: fixed;
        top: 12px;
        left: calc(50% + 80px - 32px);
        height: 32px;
        width: 32px;
        background-color: rgba(var(--color-primary-static), 0.6) !important;
        border-radius: 50%;
        .button__content {
          justify-content: center;

          .icon {
            flex-shrink: 0;
          }
        }
      }

      .autoplay-countdown {
        display: none;
      }

      .vjs-play-control {
        transform: unset !important;
        display: inline-block !important;
        position: fixed !important;
        top: 12px !important;
        left: calc(50% - 80px) !important;
        height: 32px !important;
        width: 32px !important;
        background-color: rgba(var(--color-primary-static), 0.6) !important;
        border-radius: 50% !important;
        opacity: 1 !important;
        pointer-events: unset !important;
        padding: 15px !important;

        .vjs-icon-placeholder {
          &::before {
            font-size: 2.2em !important;
            line-height: 32px !important;
            background-size: 60%;
            pointer-events: none;
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 100;
          &::before {
            line-height: 32px !important;
          }
        }
        .vjs-control-text {
          display: none !important;
        }
      }
    }

    .vjs-control-bar {
      // display: inline-block !important;
      // opacity: 1 !important;
      display: none !important;

      .vjs-progress-control.vjs-control {
        top: 40px;
        margin: unset !important;
        width: 100%;
        max-width: 100%;
        .vjs-slider {
          margin: 0 !important;
          div,
          span {
            height: 3px !important;
          }
        }
      }

      &::before {
        background: unset !important;
      }
    }

    .vjs-control {
      display: none;
    }

    .vjs-play-control.vjs-playing {
      .vjs-icon-placeholder::before {
        content: '' !important;
      }
    }

    .vjs-play-control.vjs-paused {
      .vjs-icon-placeholder::before {
        content: '' !important;
      }
    }

    .vjs-play-control.vjs-ended {
      .vjs-icon-placeholder::before {
        content: '' !important;
      }
    }

    .content__info {
      margin-top: -50px;
      background: red;
      opacity: 0;
      .button--uri-indicator {
        display: none;
      }
    }

    .vjs-time-control {
      display: none !important;
    }
  }
}

.content__viewer--theater-mode {
  top: 0;
  border-radius: 0;
  border: none;
  right: 0;
  // Next line is fixing the player width
  width: unset !important;
  .file-render--video {
    border-radius: 0;
  }
}

.content__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: var(--border-radius);
}

.content__wrapper--floating {
  height: var(--floating-viewer-height);
  width: var(--floating-viewer-width);

  @media (min-width: $breakpoint-small) {
    .file-render--video {
      z-index: 1;
    }
  }
  .content__info {
    &:not(.content-info__playlist) {
      @media (min-width: $breakpoint-small) {
        margin-top: -68px;
        z-index: -1;
        position: relative;
        transition: 0.2s margin;
      }
    }
    .content-info__text {
      padding: var(--spacing-s) var(--spacing-xxs);
      padding-bottom: var(--spacing-xxs);
      display: flex;
      flex-wrap: wrap;

      .claim-preview__title {
        width: 100%;
      }

      .content__floating-link {
        display: unset;
      }

      .channel-thumbnail {
        // display: inline-block;
        display: flex;
        margin-right: var(--spacing-xxs);
        img {
          margin-bottom: -1px;
          height: 100%;
        }
      }
    }
    .card__header--grid {
      padding: var(--spacing-s) var(--spacing-xxs) !important;

      .card__title {
        font-size: var(--font-small);
        .icon {
          width: var(--font-small);
          height: var(--font-small);
          margin-bottom: 5px;
          margin-right: var(--spacing-xxxs);
        }
      }
    }
  }

  .vjs-button--theater-mode {
    display: none;
  }

  .video-js--tap-to-unmute {
    max-width: calc(var(--floating-viewer-width) - (var(--spacing-xs) * 2));

    .icon {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }
  }

  .content__info {
    .claim-preview__title {
      .button {
        .button__label {
          display: inline-block;
        }
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }

  .truncated-text {
    display: inline !important;
  }

  .vjs-snapshot-button {
    display: none;
  }

  @media (min-width: $breakpoint-small) {
    &:hover {
      .content__info {
        margin-top: 0;
      }
    }
  }

  @media (hover: none) and (pointer: coarse) and (min-width: $breakpoint-small) {
    .content__info {
      margin-top: 0 !important;
    }
  }
}

.react-draggable-dragging {
  .content__wrapper--floating {
    .content__info {
      margin-top: 0;
    }
  }
}

.content__actions {
  visibility: hidden;
  display: flex;

  .button {
    @extend .button--close;
    height: 1.5rem;
    top: 0;
    position: relative;
    margin-left: var(--spacing-s);

    svg {
      color: var(--color-white);
    }
  }
}

.content__floating-close {
  visibility: hidden;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 42px;
  height: 42px;
  padding: 10px;
  background-color: rgba(var(--color-primary-dynamic), 0.95) !important;

  .icon {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: rgba(var(--color-primary-dynamic), 1) !important;
  }
}

.content__floating-link {
  color: var(--color-text);
}

.content__floating-close {
  z-index: 3; /*must be one higher than .file-viewer__overlay */
}

.content__info {
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  background-color: var(--color-header-background-transparent);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border: 2px solid rgba(var(--color-header-button-base), 0.5);

  .content-info__text {
    max-width: 100%;
    padding: var(--spacing-s);
  }

  .card__header {
    padding: var(--spacing-s) !important;
    padding-top: 0px !important;
  }
}

.file-page__video-container .content__cover {
  max-height: var(--inline-player-max-height);
}
.file-page__video-container {
  .button--play {
    display: inline-block !important;
  }
}
.inline-player__wrapper,
.embed__wrapper {
  .button--play {
    display: inline-block !important;
  }
  .file-render--embed {
    .button--play {
      display: none !important;
    }
    .vjs-big-play-button {
      display: none !important;
    }
  }
}

.content__cover {
  @include thumbnail;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 100%;
  border-radius: var(--border-radius);

  .button--play {
    display: none;
  }

  &:not(.content__cover--embed) {
    border-radius: var(--border-radius);
    margin: auto;

    @media (max-width: $breakpoint-small) {
      border-radius: 0;
      border: none;
      margin: 0;
    }
  }

  &.content__cover--embed {
    height: 100%;
  }

  &.content__cover--black-background:not(.card__media--nsfw) {
    background-color: #000; // solid black to blend nicely when the video starts (if it doesn't take the full width)
  }

  &:hover {
    cursor: pointer;
  }

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
}

.content__cover--link > .button__content {
  width: 100%;

  .protected-content-overlay {
    position: relative;
  }
}

.content__cover--theater-mode {
  @extend .content__cover;
  border-radius: 0 !important;
  height: 100%;
  max-height: var(--desktop-portrait-player-max-height) !important;
}

.content__cover--none {
  @include thumbnail;
  cursor: default;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
}

.content__cover--disabled:hover {
  cursor: default;
}

.content__loading {
  @extend .embed__inline-button;
  height: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: var(--color-white);
  background-color: #000;
  cursor: default;

  &.content__loading--transparent {
    background-color: transparent;
    color: var(--color-text);
  }

  &.draggable {
    cursor: grab;
  }

  &::before {
    padding-top: unset !important;
  }
}

.content__autoplay-countdown {
  @extend .content__loading;
  height: 100% !important;

  &.playing {
    position: absolute !important;
    z-index: 3;
  }
}

.content__non-clickable {
  pointer-events: none;
}

.dmca-info {
  background: rgba(255, 0, 0, 0.06);
  padding: var(--spacing-s);
  border-radius: var(--border-radius);
  border: 2px solid rgba(255, 0, 0, 0.6);
  margin-bottom: var(--spacing-l);
}

.claim-preview-info {
  .dmca-info {
    margin-bottom: 0px;
    color: var(--color-text);

    &:hover {
      background: rgba(255, 0, 0, 0.4);
    }
  }
}

.shorts__viewer {
  width: 28vw !important;
  height: 90vh !important;
  max-height: 90vh !important;

  position: absolute;
  left: 50% !important;
  top: 0 !important;
  transform: translate(-50%, 0%) !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  border-radius: 0;

  aspect-ratio: 9/16;

  @media (min-width: $breakpoint-small) and (max-width: 1180px) {
    .shorts__viewer {
      width: 380px !important;
      .content__wrapper {
        width: 380px !important;
      }
    }
  }

  .content__wrapper {
    width: 28vw !important;
    border-radius: 10px;
    position: relative !important;

    .file-render--video {
      width: 100%;
      height: 100%;
      border-radius: 0;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px !important;
      }
    }
  }

  .video-js {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    .vjs-tech {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .vjs-control-bar {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));

      .vjs-current-time,
      .vjs-duration,
      .vjs-time-divider,
      .vjs-button--play-next {
        display: none;
      }

      .vjs-progress-control {
        flex: 1;

        .vjs-progress-holder {
          margin: 0;

          .vjs-play-progress,
          .vjs-load-progress {
            height: 3px;
          }
        }
      }

      .vjs-button--theater-mode,
      .vjs-fullscreen-control {
        display: none;
      }
    }

    .vjs-big-play-button {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.7);
      border: none;
      font-size: 32px;

      .vjs-icon-placeholder::before {
        font-size: 32px;
        line-height: 80px;
      }
    }
    .vjs-touch-overlay {
      max-height: 100vh !important;
    }
  }

  .content__info {
    position: absolute;
    bottom: 80px;
    left: var(--spacing-s);
    right: var(--spacing-s);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    border-radius: var(--border-radius);
    padding: var(--spacing-s);

    .content-info__text {
      color: white;

      .claim-preview__title {
        margin-bottom: var(--spacing-xs);

        .button {
          color: white;
          font-weight: 600;

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      .channel-thumbnail {
        img {
          border: 2px solid white;
        }
      }
    }
  }

  .content__floating-close {
    top: var(--spacing-s);
    right: var(--spacing-s);
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 1001;

    &:hover {
      background-color: rgba(0, 0, 0, 0.9) !important;
    }
  }

  .content__autoplay-countdown {
    display: none;
  }

  &.shorts__viewer--panel-open {
    transform: translate(-130%, 0%) !important;

    @media (max-width: $breakpoint-small) {
      transform: translate(-50%, 0%) !important;
    }
  }
  @media (max-width: $breakpoint-small) {
    width: 100% !important;
    .content__wrapper {
      width: 100vw !important;
      height: 90vh !important;

      .file-render--video {
        width: 100vw !important;
        height: 90vh !important;
        border-radius: 0;

        video {
          max-width: 100vw;
          max-height: 80vh;
          width: 100vw;
          height: auto;
          margin-top: 70px;
          // object-fit: ;
          border-radius: 0px !important;
          width: 100%;
        }
      }
    }

    .content__viewer--inline {
      height: 100vh !important;
      max-height: 100vh !important;

      video {
        height: 100vh !important;
        max-height: 100vh !important;
      }
    }
  }
  // @media (min-width: 1500px) {
  //   .content__wrapper {
  //      width: 50vw !important;
  //   }
  // }
}

@media (min-width: $breakpoint-small) and (max-width: 1180px) {
  .shorts__viewer {
    width: 350px !important;

    .content__wrapper {
      width: 350px !important;
    }
  }
}
