@import '../init/breakpoints';

$SKEW_AMOUNT: 10deg;

.filePrice {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-purchased-text);
  background-color: rgba(var(--color-primary-dynamic), 1);
  border-radius: calc(var(--border-radius) / 2);

  .credit-amount {
    position: relative;
    padding: 0 var(--spacing-xxxs);
    white-space: nowrap;
    color: var(--color-primary-contrast);
  }

  .credit-amount__prefix-icon {
    color: var(--color-primary-contrast);
  }
}

.filePrice--fiat {
  background-color: var(--color-fiat-payment);

  .credit-amount {
    margin-bottom: -0.2rem; // Numbers don't have descenders.
  }
}

.filePrice--thumbnail {
  height: 1.2rem;

  .credit-amount__prefix-icon {
    margin-left: var(--spacing-xxxs);
    width: 12px;
    height: 12px;
  }

  .credit-amount__prefix-icon:only-child {
    margin-right: var(--spacing-xxxs);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filePrice--filepage {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  margin-top: var(--spacing-s);
  height: 2.4rem;
  border-radius: var(--border-radius);
  opacity: 0;
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;

  .credit-amount {
    font-size: var(--font-body) !important;
    font-weight: var(--font-weight-bold);
    padding-right: 0;
    svg {
      margin-right: var(--spacing-s);
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-top: 0;
    padding: 0 var(--spacing-xs);
    height: 2rem;
  }
}

.filePrice--modal {
  border: 5px solid var(--color-purchased);
  font-size: var(--font-body);
  height: 3.5rem;
  background-color: var(--color-purchased-alt);
  transform: skew($SKEW_AMOUNT);

  .icon,
  .credit-amount {
    transform: skew(-$SKEW_AMOUNT);
  }

  .credit-amount {
    margin: 0 var(--spacing-m);
    margin-left: var(--spacing-l);
    font-weight: var(--font-bold);
    font-size: var(--font-large);
  }

  &::before {
    content: none;
  }
}

.filePrice--key {
  background-color: var(--color-purchased);

  .credit-amount {
    p {
      color: black !important;
    }
  }
  .icon--Key {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
    stroke: black !important;
    color: black !important;
    stroke-width: 2;

    @media (max-width: $breakpoint-small) {
      margin-left: var(--spacing-s);
      margin-right: var(--spacing-s);
    }
  }
  .icon {
    stroke: black !important;
    color: black !important;
  }
}

.filePrice__key--modal {
  @extend .filePrice--modal;
  top: var(--spacing-m);

  .icon {
    height: 100%;
    width: auto;
    left: calc(var(--spacing-xl) * 1.5);
    animation: moveKey 2.5s 1 ease-out;
    overflow: visible;
    stroke: var(--color-black);

    g {
      animation: turnKey 2.5s 1 ease-out;
    }
  }

  &::before {
    content: '';
    transform: skew(15deg);
    animation: expand 2.5s 1 ease-out;
  }
}

.filePriceFiatDuo {
  display: flex;

  & > *:not(:last-child) {
    margin-right: calc(var(--spacing-xxs) / 2);
  }
}

.filePriceFiatDuo--filePage {
  @media (max-width: $breakpoint-small) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: calc(var(--spacing-xxs) / 2);
    }
  }
}

.file-page__media-actions {
  .card__header--between {
    flex-wrap: nowrap;
    .card__title-actions-container {
      overflow: visible;
      .card__title-actions {
        align-self: normal;
      }
    }
  }
}

.paid-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.paid-content-overlay__body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(4px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);

  .purchase-button:not(.purchase-button--fee) {
    background-color: var(--color-fiat-payment) !important;
  }
}

.paid-content-prompt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .paid-content-prompt__notice {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-fiat-payment);
    background-color: rgba(var(--color-fiat-payment-decimal), 0.2);
    color: var(--color-text);
    padding: var(--spacing-xs) var(--spacing-s);
    margin-bottom: var(--spacing-s);
    font-size: var(--font-small);
  }

  .paid-content-prompt__price {
    font-size: var(--font-body);
    margin-bottom: var(--spacing-s);

    .icon {
      margin-right: var(--spacing-xs);
      margin-bottom: -2px;
    }
  }
}

.paid-content-prompt--overlay {
  align-items: center;

  .paid-content-prompt__notice {
    font-size: var(--font-base);
  }
}
