@import '../init/breakpoints';
@import '../init/mixins';

.header {
  z-index: 3; // Main content uses z-index: 1, other content uses z-index: 2, this ensures it always scrolls under the header
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--color-header-background);
  font-size: var(--font-body);
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  button.skip-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-right: var(--spacing-l);

    &:focus {
      opacity: 1;
      position: relative;
      overflow: unset;
      width: unset;
      height: unset;
    }
  }

  .header__menu--right {
    .header__navigationItem--balance {
      transition: border-radius 0.4s;
      margin-right: var(--spacing-s);
      .button__label {
        margin-left: var(--spacing-xxs) !important;
      }
      &:hover {
        .button__label {
          color: var(--color-odysee-contrast) !important;
        }
      }
    }
    .header__navigationItem--balance-round {
      @media (max-width: $breakpoint-large) {
        border-radius: 50%;
        .button__label {
          display: none;
        }
      }
      @media (max-width: $breakpoint-small) {
        width: var(--height-button-mobile);
        height: var(--height-button-mobile);
      }
    }

    .channel-thumbnail {
      // border-bottom: 1px solid #c35321;
      .comment__badge {
        left: 20%;
        .icon {
          width: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .button--link {
    color: var(--color-odysee) !important;
    &:hover {
      color: var(--color-link-hover) !important;
    }
  }
  .button--primary {
    background-color: var(--color-odysee) !important;
    color: var(--color-odysee-contrast) !important;
  }

  .comment__badge {
    padding-right: var(--spacing-xxs);

    .icon {
      margin-bottom: -4px;
      width: 18px;
    }
  }

  @media (max-width: $breakpoint-small) {
    .card__actions--between {
      .header__menu--left,
      .header__menu--right {
        width: 5rem;
        min-width: 5rem;
      }
    }
  }

  *:focus-visible:not(.wunderbar__input):not(.menu__list):not(.menu__list--header):not(.button--secondary):not(
      .button-like
    ):not(.button-dislike):not(select):not(input):not(textarea):not(video) {
    background-color: rgba(var(--color-primary-static), 0.2) !important;
    color: var(--color-text) !important;
    // outline: 2px solid var(--color-primary);
    box-shadow: 0px 0px 0px 2px var(--color-odysee) inset;

    .icon {
      stroke: var(--color-text) !important;
    }
  }

  select:focus-visible,
  input:focus-visible:not(.wunderbar__input),
  textarea:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--color-odysee) inset;
  }

  .ff-container {
    canvas {
      border-radius: 50%;
    }
    .freezeframe-img {
      width: var(--height-button) !important;
      height: var(--height-button) !important;
      border-radius: 50%;
    }
  }
}

.header--minimal {
  box-shadow: none;
  background-color: var(--color-header-background);
  border-bottom: none;

  .header__navigation {
    padding: var(--spacing-xs);
  }

  .header__navigationItem--logo {
    height: 3rem;
  }

  .header__menu--left,
  .header__menu--right {
    width: unset;
    min-width: unset;
  }
}

.header__contents {
  display: flex;
  align-items: center;
  flex: 1;
  height: var(--header-height);
  padding: var(--spacing-s) var(--spacing-m);
  margin-right: var(--body-scrollbar-width);
  width: unset;

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xs);
    height: var(--header-height-mobile);
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: var(--header-height);
  padding: var(--spacing-s) var(--spacing-m);
  flex-wrap: nowrap;
  margin-right: var(--body-scrollbar-width);

  .wunderbar__wrapper {
    .wunderbar__input {
      background-color: var(--color-header-button) !important;
    }

    &:hover {
      .wunderbar__input {
        // outline: 2px solid var(--color-header-button-hover) !important;
      }
    }

    .wunderbar__input:focus-visible {
      // outline: 2px solid var(--color-header-button-hover) !important;
    }
  }

  .button--alt {
    background-color: var(--color-header-button);
    color: var(--color-text);

    &:hover {
      background-color: var(--color-odysee);
      color: var(--color-odysee-contrast);
    }
  }

  .button__content {
    &:hover {
      .button__label {
        color: var(--color-text);
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xs);
    height: var(--header-height-mobile);

    .button--alt {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      .button__content {
        width: unset;
        height: 22px;
      }
    }

    .header__navigationItem--logo {
      border-radius: 50%;
      svg {
        width: calc(var(--header-height-mobile) - var(--spacing-m));
        height: calc(var(--header-height-mobile) - var(--spacing-m));
      }
    }

    .button,
    .header__navigationItem--icon {
      width: calc(var(--header-height-mobile) - var(--spacing-m));
      height: calc(var(--header-height-mobile) - var(--spacing-m));
      background-color: rgba(var(--color-primary-static), 0.6);
      .icon {
        stroke: var(--color-odysee-contrast);
      }
    }

    .channel-thumbnail {
      width: calc(var(--header-height-mobile) - var(--spacing-m)) !important;
      height: calc(var(--header-height-mobile) - var(--spacing-m)) !important;
    }
  }
}

.wunderbar__wrapper--mobile {
  border-bottom: unset !important;
  .wunderbar__input {
    border-radius: var(--border-radius) !important;
    background-color: var(--color-header-button) !important;
    &:focus-visible,
    &:focus {
      outline: 2px solid var(--color-odysee) !important;
    }
  }
}

.header__menu {
  display: flex;
  align-items: center;

  @media (min-width: $breakpoint-small) {
    width: 16rem;
    min-width: 16rem;
  }
}

.header__menu--left {
  @extend .header__menu;
  justify-content: flex-start;
  margin-left: var(--spacing-s);
  @media (max-width: $breakpoint-small) {
    margin-left: unset;
  }
}

.header__menu--right {
  @extend .header__menu;
  justify-content: flex-end;
}

.header__buttons {
  display: flex;
}

.header__logo {
  height: var(--height-button);

  @media (max-width: $breakpoint-small) {
    height: var(--height-button-mobile);
  }
}

.header__navigationItem {
  height: var(--height-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  position: relative;
  font-weight: var(--font-weight-bold);

  svg {
    stroke: var(--color-text);
  }

  &[aria-expanded='true']:not(.header__navigationItem--profilePic) {
    transform: rotate(0deg);
    &:not(.button-rotate) {
      background-color: var(--color-header-button-hover);

      .icon {
        stroke: var(--color-odysee-contrast);
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    height: var(--height-button-mobile);
  }
}

.header__navigationItem--icon {
  @extend .header__navigationItem;
  width: var(--height-button);
  background-color: var(--color-header-button);
  border-radius: 1.5rem;
  margin-right: var(--spacing-s);

  &:hover {
    background-color: var(--color-odysee);

    .icon {
      stroke: var(--color-odysee-contrast);
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-right: 0;
    width: calc(var(--header-height-mobile) - var(--spacing-m));
    height: calc(var(--header-height-mobile) - var(--spacing-m));
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__navigationItem--profilePic {
  margin-right: var(--spacing-s);
  border-radius: 50%;

  .channel-thumbnail {
    height: var(--height-button);
    width: var(--height-button);
    margin-right: 0;
  }

  &:hover {
    .ff-canvas {
      opacity: 0 !important;
      transition: opacity 1s !important;
    }
    .ff-image {
      opacity: 1 !important;
    }
  }

  @media (max-width: $breakpoint-small) {
    margin: 0;

    .channel-thumbnail {
      height: var(--height-button-mobile);
      width: var(--height-button-mobile);
    }
  }
}

.header__navigationItem--iconSkeleton {
  @extend .header__navigationItem--icon;
  height: var(--height-button) !important;
  width: var(--height-button) !important;

  @media (max-width: $breakpoint-small) {
    height: calc(var(--header-height-mobile) - var(--spacing-m)) !important;
    width: calc(var(--header-height-mobile) - var(--spacing-m)) !important;
  }
}

.header__navigationItem--balance {
  @extend .header__navigationItem;
  margin: 0 var(--spacing-s);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  background-color: var(--color-header-button);

  &:hover {
    background-color: var(--color-header-button-hover);
    color: var(--color-primary-contrast);
  }

  @media (max-width: $breakpoint-small) {
    margin: 0 !important;
    padding: 0 !important;
    width: 5rem;
  }
}

.header__navigationItem--balanceLoading {
  margin: 0 var(--spacing-s);
  width: 4rem;
  background-color: var(--color-header-button);

  @media (max-width: $breakpoint-small) {
    margin: 0 !important;
    width: 5rem;
  }
}

.header__navigationItem--logo {
  @extend .header__navigationItem;
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-s);
  color: var(--color-text);

  @media (min-width: $breakpoint-small) {
    width: 150px;
  }

  @media (max-width: $breakpoint-small) {
    margin: 0;

    .button__label {
      display: none;
    }
  }
}

.header__navigationItem--channel {
  color: var(--color-text);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) var(--spacing-s);
  span {
    padding-left: 2.5px;
    padding-right: 2px;
    margin-right: var(--spacing-s);
  }

  &:hover {
    color: white;
    background-color: var(--color-primary);
  }
}

.header__authButtons {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);

  & > *:not(:last-child) {
    margin: 0 var(--spacing-m);
  }

  @media (max-width: $breakpoint-small) {
    .button--link {
      margin: 0;
    }

    .button--primary {
      padding: var(--spacing-xxs);
    }
  }
}

.header__center {
  display: flex;
  justify-content: center;
  width: 100%;

  .button.active {
    background-color: var(--color-primary);
    svg {
      stroke: var(--color-primary-contrast);
    }
  }
}

.header__authTitle {
  @extend .header__center;
  justify-content: center;

  @media (min-width: $breakpoint-small) {
    font-size: var(--font-large);
  }
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.ReactModal__Overlay {
  .ReactModal__Content {
    transform: scale(0);
    transition: transform 0.2s;
  }
  .button--close {
    margin: 0;
    @media (max-width: $breakpoint-small) {
      width: var(--height-input);
      height: var(--height-input);
      margin: var(--spacing-s);
      background: var(--color-primary);
      .button__content {
        align-items: center;
        justify-content: center;
        color: var(--color-primary-contrast);
      }
    }
  }
}

.ReactModal__Overlay--after-open {
  .ReactModal__Content {
    transform: scale(1);
    transition: transform 0.4s;
  }
}

.channel__selector {
  width: 100%;
  .menu__link {
    width: 100% !important;
    .claim-preview__title {
      text-align: left;
    }
    .comment__badge {
      flex: 1;
      text-align: left;
    }
    .icon--ChevronDown {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.menu__list--notifications {
  .MuiMenu-list {
    padding: 0;
    backdrop-filter: blur(4px) !important;
    background-color: unset !important;
  }
  .MuiMenu-list--paper {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: unset !important;
  }

  .menu__list--notifications-header {
    height: var(--spacing-xs);
    background-color: rgba(var(--color-header-background-base), 0.9);
    backdrop-filter: blur(4px) !important;
  }

  a:nth-child(1) {
    .menu__list--notification {
      border-top: 1px solid rgba(var(--color-header-button-base), 0.95);
    }
  }

  .menu__list--notifications-list {
    overflow-y: scroll;
    max-height: 388px;
    background-color: var(--color-header-background);
    .menu__list--notification {
      position: relative;
      overflow: hidden !important;
      width: 440px;
      padding: var(--spacing-s);
      display: flex;
      background-color: var(--color-header-button);
      border-top: 1px solid var(--color-header-background);
      transition: border-left 0.4s;

      .notification__icon {
        margin-top: 0;
        margin-left: 0;
        .icon__wrapper {
          color: var(--color-text);
        }
        .channel-thumbnail {
          margin-right: var(--spacing-s);
          width: 3rem;
          height: 3rem;
          img,
          canvas {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }
        }
      }
      .menu__list--notification-channel-unread {
        border: 2px solid var(--color-primary);
      }

      .menu__list--notification-info {
        overflow: hidden;
        width: 100%;
        .menu__list--notification-type {
          display: flex;
          flex-flow: wrap;
          gap: var(--spacing-xxxs);
          width: 100%;
          color: rgba(var(--color-text-base), 0.6);
          font-size: var(--font-xsmall);

          .notification__claim-title {
            width: 100%;
            color: rgba(var(--color-text-base), 0.6);
            font-size: var(--font-xsmall);
            font-weight: 400;
            flex: 1;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
          }

          .button__content {
            display: flex;
            margin: 0;
            .channel-name {
              margin: 0;
              color: rgba(var(--color-text-base), 0.6);
              font-size: var(--font-xsmall);
              font-weight: 400;
            }
          }

          .comment__badge {
            display: none;
          }

          span {
            margin-right: 0;
            .credit-amount {
              color: rgba(var(--color-text-base), 0.6);
              font-size: var(--font-xsmall);
              font-weight: 400;
              svg {
                margin-bottom: 0;
              }
            }
          }
        }

        .menu__list--notification-title {
          color: var(--color-text);
          flex-grow: 1;
          margin-bottom: -3px;
          width: 100%;
          .notification__text {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            blockquote {
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: block;
              padding-right: 0;
            }
          }
        }
        .date_time {
          color: rgba(var(--color-text-base), 0.6);
        }
        span {
          color: var(--color-primary);
          display: inline-block;
          font-size: var(--font-xxsmall);
          margin-right: var(--spacing-xxxs);
          &.dot {
            font-size: var(--font-small);
          }
        }
        .sticker__comment {
          margin-left: 0;
          padding: var(--spacing-xxs);
          padding-left: 0;
          height: 50px;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(var(--color-header-background-base), 1);
        .notification__icon {
          .icon__wrapper {
            color: var(--color-text);
            background-color: var(--color-header-button);
          }
        }

        .menu__list--notification-info {
          .menu__list--notification-title {
            .notification__text {
              color: var(--color-primary);
              blockquote {
                color: var(--color-primary) !important;
              }
            }
          }
        }
        .delete-notification {
          opacity: 1;
        }
      }
    }

    .menu__list--notification-unread {
      border-left: 2px solid var(--color-primary);
    }

    .menu__list--notification-empty {
      display: block;
      word-wrap: break-word;
      white-space: normal;
      width: 440px;
      padding: var(--spacing-m) var(--spacing-s);
      background-color: rgba(var(--color-header-button-base), 0.95);
      color: var(--color-text);
      text-align: center;
      .menu__list--notification-empty-title {
        font-weight: bold;
        font-size: var(--font-body);
      }
      .menu__list--notification-empty-text {
        color: rgba(var(--color-text-base), 0.6);
        font-size: var(--font-xsmall);
        font-weight: 400;
      }
    }

    .delete-notification {
      position: absolute;
      top: var(--spacing-xs);
      right: var(--spacing-xxs);
      opacity: 0;
      .icon__wrapper {
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: rgba(var(--color-header-button-base), 0.95);
        outline: 4px solid rgba(var(--color-header-background-base), 1);

        svg {
          width: 12px;
          height: 12px;
        }
      }
      &:hover {
        .icon__wrapper {
          background-color: var(--color-primary);
          .icon {
            stroke: var(--color-primary-contrast);
          }
        }
      }
    }

    &::-webkit-scrollbar-track {
      background: rgba(var(--color-header-background-base), 0.8);
    }
  }

  .menu__list--notifications-more {
    color: var(--color-text);
    background-color: rgba(var(--color-header-background-base), 1);
    padding: var(--spacing-s) var(--spacing-xs);
    text-align: center;
    border-top: 1px solid rgba(var(--color-header-button-base), 0.95);

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}
