.homePage-wrapper {
  .claim-grid__wrapper {
    margin-top: calc(1rem / -10);
  }
  .mb-xl {
    margin-bottom: 0px;
  }
  .icon__wrapper--Heart {
    .icon {
      fill: var(--color-background);
      stroke: transparent;
    }
  }
}

.homePage-wrapper__section-title {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-small) {
    button {
      right: calc(var(--spacing-xs) * -1);
      .button__content {
        padding: 10px;
        background-color: var(--color-background);
        height: unset;
        border-radius: 50% 0 0 50%;

        .icon {
          margin-left: 0;
          width: 22px;
          height: 22px;
        }
      }
      .button__label {
        display: none;
      }
    }
  }
}

.upcoming-grid,
.upcoming-list {
  transition: min-height 0.2s, height 0.2s;
  .button__content {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .claim-grid,
  .claim-list {
    transition: opacity 0.2s, display 0.2;
    opacity: 1;
  }
}

.upcoming-grid {
  min-height: 342px;
  height: 342px;
  .claim-grid__header {
    margin-top: 0;
  }

  @media (max-width: $breakpoint-small) {
    min-height: unset;
    height: unset;
    margin-bottom: var(--spacing-xl) !important;
  }
}

.homePage-wrapper {
  .upcoming-grid {
    margin-bottom: var(--spacing-l) !important;
  }
  .upcoming-list {
    .button__content {
      &:hover {
        cursor: unset;
        .claim-grid__title {
          color: var(--color-text);
        }
        .icon__wrapper {
          background-color: var(--color-text);
          .icon {
            stroke: var(--color-background);
          }
        }
      }
    }
  }
  .upcoming-grid--closed {
    margin-bottom: var(--spacing-xxl);
  }
}

.upcoming-grid--extended {
  min-height: calc(342px * 2);
  height: calc(342px * 2);
  @media (max-width: $breakpoint-small) {
    min-height: unset;
    height: unset;
  }
}

.upcoming-grid--closed {
  min-height: 0;
  height: 0;
  .claim-grid,
  .claim-list {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.upcoming-grid__visibility {
  display: flex;
  align-items: center;
  background-color: var(--color-header-button);
  border-radius: var(--border-radius);
  padding: 0 var(--spacing-m);
  height: var(--height-button);
  margin-left: auto;

  .icon {
    stroke: var(--color-text);
    margin-right: var(--spacing-xs);
  }

  span {
    font-size: var(--font-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    margin-top: 2px;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    .icon {
      stroke: var(--color-primary-contrast);
    }
    span {
      color: var(--color-primary-contrast);
    }
  }
}

.upcoming-grid__visibility--empty {
  @extend .upcoming-grid__visibility;

  &:hover {
    cursor: default;
    background-color: var(--color-header-button);
    .icon {
      stroke: var(--color-text);
    }
    span {
      color: var(--color-text);
    }
  }
}

.upcoming-grid__counter {
  display: flex;
  justify-content: center;
  font-size: var(--font-xsmall);
  background: var(--color-background);
  border-radius: 50%;
  margin-left: var(--spacing-xs);
  width: 20px;
  height: 20px;
}
