.membership_title {
  margin-top: var(--spacing-l);
  font-size: 18px;
  font-weight: var(--font-weight-bold);

  .comment__badge {
    margin-left: var(--spacing-s);

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}

.membership_title:first-of-type {
  margin-top: 0;
}

.membership_subtitle {
  font-size: var(--font-small);
  color: var(--color-text-subtitle);
  margin-bottom: var(--spacing-s);
}

.membership_info {
  font-size: var(--font-small);
}

.membership_button {
  display: block;
  margin-bottom: 18px;
  margin-top: 10px;
}

.cancel-membership-button {
  display: block;
  margin-bottom: 18px;
  margin-top: 13px;
}

.explanation-text {
  margin-bottom: 16px;
}

.premium-explanation-text {
  .icon--ChevronDown,
  .icon--ChevronUp {
    height: 24px;
    width: 24px;
  }
  .icon--ChevronUp {
    margin-top: -2px;
    margin-bottom: 2px;
  }

  .card__main-actions {
    margin-bottom: 15px;
  }

  .button--close {
    margin-top: 3px;
    // left: 223px;
    width: 34px;
  }

  .section__subtitle {
    margin-bottom: 25px;
  }

  margin-bottom: 21px;
}

.getPaymentCard {
  font-size: 19px;
  margin-bottom: 10px;
}

.membership-bolded {
  color: var(--color-text);
}

/** CREATOR MEMBERSHIPS PAGE **/

.my-membership__div {
  .form-field--copyable {
    max-width: 535px;
    margin-top: 5px;
  }

  .channel__selector {
    margin-bottom: 17px;
  }

  .membership_button {
    max-width: 279px;
  }
}

/** JOIN CARD **/

.membership-join__body {
  text-align: center;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-m);
  height: 22rem;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.membership-join__plan-header {
  margin-top: var(--spacing-l);
  margin-top: var(--spacing-m);
  font-size: calc(var(--font-base) + 4px);
}

.membership__plan-perks {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
      height: 100%;

      .expandable__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .expandable--closed {
          max-height: calc(180px * 3 / 4);
        }
      }
    }
  }

  ul,
  li {
    list-style-position: inside !important;
  }

  p {
    text-align: left;
  }
}

.membership-join__tab-buttons {
  margin-top: var(--spacing-s);
}

/** JOIN CARD ON CHANNEL PAGE **/

.channelPage-wrapper .membership-join,
.membership__body {
  padding: 0px 20rem;
}

.membership-join,
.membership {
  .section__actions {
    display: block;
  }

  .card__header--between {
    justify-content: center !important;
  }

  .card__subtitle {
    line-height: 1.5 !important;
  }

  .confirm__wrapper {
    padding-top: var(--spacing-s);

    .confirm__section {
      display: flex;
      flex-direction: column;

      &:not(:first-of-type) {
        margin-top: var(--spacing-m);
      }

      .confirm__label {
        margin-top: 0px;
      }

      .confirm__value {
        font-size: unset;
        display: unset;

        ul {
          padding: var(--spacing-s);
          max-height: 15rem;
          overflow: scroll;
        }

        .membership-join__perk-item {
          text-align: start;
          list-style-position: inside !important;
        }
      }
    }

    .membership-join__spinner {
      margin-top: var(--spacing-s);
      text-align: start;
    }
  }

  .card__first-pane,
  .membership__body {
    text-align: center;
  }

  .join-membership-tab-renewal-date__header {
    font-size: 1.1rem;
    margin-top: 43px;
  }

  .help__no-card {
    color: var(--color-danger) !important;
    font-size: var(--font-base);
  }
}

.membership__plan-perks p {
  text-align: left;
}

.membership-join__perk-item,
.membership__plan-perks li {
  margin-left: 0px;
  margin-right: 0px;
  &:first-of-type {
    margin-top: 0px;
  }
}

.join-membership-support-time__header {
  font-size: 18px;
  margin-bottom: 6px;
}

.join-membership-support-time__header:nth-of-type(2) {
  margin-bottom: 34px;
}

.show-additional-membership-info__div {
  label {
    font-size: 17px;
  }

  .show-additional-membership-info__header {
    font-size: 17px;
    margin-top: 42px;
  }

  .checkbox:nth-of-type(1) {
    margin-top: 13px;
  }

  .checkbox:nth-of-type(2) {
    margin-top: 11px;
    margin-bottom: 15px;
  }

  .activate-memberships-button {
    margin-top: 23px;
  }
}

.ReactModal__Overlay {
  .activate-memberships__modal {
    min-width: unset;
    max-width: 486px;
  }
}

.ReactModal__Overlay {
  .cancel-creator-membership__modal {
    min-width: unset;
    max-width: 486px;
  }

  .card__subtitle {
    line-height: 39px;
  }

  .card__title {
    text-align: center;
  }
}

.billingHistory__header {
  text-align: center;
  font-size: 25px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.billingHistory-back__button {
  margin-top: 34px;
}

// membership card
.membership-join-tab {
  min-height: 600px;

  .card__header--between, .card__title-section {
    display: block;
  }

  .card__header--between, .membership-join__tab-buttons, .membership-join-purchase__div {
    text-align: center;
  }

  .membership-join__body {
    height: unset;
  }

  .card__body {
    text-align: center;
  }

  .confirm__value {
    display: block;
    margin-top: 0px;
  }

  .confirm__label {
    font-size: 17px;
  }

  .confirm__value {
    font-size: 16px;
  }

  .membership-join-perks__list {
    text-align: left;
    max-width: 450px;
    margin: 0 auto;
  }

  .section__actions {
    display: block;
  }

  .membership-features-confirmation__section {
    margin-top: 5px;
    .confirm__value {
      max-width: 65%;
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 23px;
    }
  }

  .confirm__section {
    margin-bottom: 7px;
  }
}

.membership-tab {
  .membership__body {
    padding: 0px 20%;
  }

  .membership__perk-item {
    color: var(--color-text-subtitle);
  }

  .membership__plan-header {
    font-size: 22px;
  }

  .membership__plan-description {
    font-size: 19px;
    margin-top: 3px;
  }
}

.can-create-your-own-memberships__div {
  max-width: 641px;
  margin: 0 auto;
  margin-bottom: 18px;
}
