.membership_title {
  margin-top: var(--spacing-l);
  font-size: 18px;
  font-weight: var(--font-weight-bold);

  .comment__badge {
    margin-left: var(--spacing-s);

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}

.membership_title:first-of-type {
  margin-top: 0;
}

.membership_subtitle {
  font-size: var(--font-small);
  color: var(--color-text-subtitle);
  margin-bottom: var(--spacing-s);
}

.membership_info {
  font-size: var(--font-small);
}

.membership_button {
  display: block;
  margin-bottom: 18px;
  margin-top: 10px;
}

.cancel-membership-button {
  display: block;
  margin-bottom: 18px;
  margin-top: 13px;
}

.explanation-text {
  margin-bottom: 16px;
}

.premium-explanation-text {
  .icon--ChevronDown,
  .icon--ChevronUp {
    height: 24px;
    width: 24px;
  }
  .icon--ChevronUp {
    margin-top: -2px;
    margin-bottom: 2px;
  }

  .card__main-actions {
    margin-bottom: 15px;
  }

  .button--close {
    margin-top: 3px;
    // left: 223px;
    width: 34px;
  }

  .section__subtitle {
    margin-bottom: 25px;
  }

  margin-bottom: 21px;
}

.getPaymentCard {
  font-size: 19px;
  margin-bottom: 10px;
}

.membership-bolded {
  color: var(--color-text);
}

/** CREATOR MEMBERSHIPS PAGE **/

.my-membership__div {
  .form-field--copyable {
    max-width: 535px;
    margin-top: 5px;
  }

  .channel__selector {
    margin-bottom: 17px;
  }

  .membership_button {
    max-width: 279px;
  }
}

/** MODAL **/

.ReactModalPortal .join-membership-modal > .card__first-pane > .card__header--between > .card__title-section {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.ReactModalPortal section.join-membership-modal {
  max-width: 550px;
}

.join-membership-modal__subheader {
  color: #e1d6d6;
}

.join-membership-modal-information__div {
  text-align: left;
  padding: 19px;
  max-width: 388px;
  min-width: 350px;

  .join-membership-modal-plan__header {
    margin-top: 17px;
    color: white;
    margin-bottom: 7px;
    font-size: 18px;
  }

  .join-membership-modal-plan__description {
    margin-bottom: 12px;
  }

  .join-membership-modal-purchase__button {
    margin-top: 32px;
  }
}

// membership page tab from channel
.tab__panel {
  .join-membership-modal-information__div {
    max-width: 100%;
    min-width: 100%;
  }

  .join-membership-modal__subheader {
    display: inline;
  }

  .join-membership-modal__subheader:nth-of-type(2) {
    margin-left: 5px;
  };

  .card__header--between, .card__title-section {
    display: block;
  }

  .card__first-pane, .join-membership-modal-information__div {
    text-align: center;
  }

  .join-membership-modal-perks p {
    text-align: left;
  }

  .join-membership-modal-perks {
    max-width: 487px;
    margin: 0 auto;
  }

  .membership-modal-tab-buttons {
    margin-top: 10px;
  }

  .join-membership-tab-renewal-date__header {
    color: white;
    font-size: 1.1rem;
    margin-top: 43px;
  }
}

.join-membership-modal-perks__li {
  margin-left: 0px;
  margin-right: 0px;
}

.join-membership-modal-perks > h1 {
  color: white;
}

.join-membership-support-time__header {
  color: white;
  font-size: 18px;
  margin-bottom: 6px;
}

.join-membership-support-time__header:nth-of-type(2) {
  margin-bottom: 34px;
};

.join-membership-modal-perks h1 {
  font-size: 1.1rem;
  margin-bottom: 11px;
}
