/** CONFIRM / CANCEL PREMIUM MODAL **/
.confirm-odysee-premium__modal {
  max-width: 580px !important; // default modal width is too wide, looks weird
}

.stripe__confirm-remove-membership {
  max-width: 600px;
  padding: var(--spacing-m) var(--spacing-l) !important;

  .card__subtitle {
    line-height: 39px;
    margin-top: 5px;
    margin-bottom: -1px;
  }

  .section__actions {
    display: block;
    text-align: center;
  }

  .card__main-actions {
    padding-top: 2px;
  }

  .card__subtitle {
    text-wrap: balance;
  }
}

.expandedBlock {
  height: auto !important;
}

.forceShowTiers {
  display: flex !important;
}

.see-all-tiers__header {
  margin: 0 auto;
}


.membership_title {
  margin-top: var(--spacing-l);
  font-size: 18px;
  font-weight: var(--font-weight-bold);

  .comment__badge {
    margin-left: var(--spacing-s);

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}

.membership_title:first-of-type {
  margin-top: 0;
}

.membership_subtitle {
  font-size: var(--font-small);
  color: var(--color-text-subtitle);
  margin-bottom: var(--spacing-s);
}

.membership_info {
  font-size: var(--font-small);
}

.membership_button {
  display: block;
  margin-bottom: 18px;
  margin-top: 10px;
}

.cancel-membership-button {
  margin-top: 13px;
  display: inline;
  margin-left: 10px;
}

.edit-membership-button {
  display: inline;
}

.explanation-text {
  margin-bottom: 16px;
}

.premium-explanation-text {
  .icon--ChevronDown,
  .icon--ChevronUp {
    height: 24px;
    width: 24px;
  }
  .icon--ChevronUp {
    margin-top: -2px;
    margin-bottom: 2px;
  }

  .card__main-actions {
    margin-bottom: 15px;
  }

  .button--close {
    margin-top: 3px;
    // left: 223px;
    width: 34px;
  }

  .section__subtitle {
    margin-bottom: 25px;
  }

  margin-bottom: 21px;
}

.getPaymentCard {
  font-size: 19px;
  margin-bottom: 10px;
}

.membership-bolded {
  color: var(--color-text);
}

/** CREATOR MEMBERSHIPS PAGE **/

.my-membership__div {
  .form-field--copyable {
    max-width: 535px;
    margin-top: 5px;
  }

  .channel__selector {
    margin-bottom: 17px;
  }

  .membership_button {
    max-width: 279px;
  }
}

/** JOIN CARD **/

.membership-join-block-purchase__button {
  margin-top: 6px;
  margin-bottom: 13px;
}

.membership-join__body {
  overflow: scroll;
}

.membership-join__body, .membership-join-blocks__body {
  text-align: center;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-m);
  //height: 22rem;
  //width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;

  @media (max-width: $breakpoint-xsmall) {
    flex-basis: 66%;
    //width: var(--file-list-thumbnail-width) !important;
  }
}

.membership-join-tab {
  .membership-join-blocks__div {
    display: flex;
    flex-wrap: wrap;
    max-width: 72rem;
    justify-content: center;
    margin: 0 auto;
  }

  .membership-join__plan-description h1 {
    max-width: 90%;
    margin: 0 auto;
  }

  .membership-join__plan-info {
    .membership-join__plan-header {
      margin-top: 17px;
    }
  }


  .card__body {
    margin: 0 auto;

    .membership-join-blocks__body {
      border: 1px solid grey;
      padding-bottom: 17px;
      border-radius: 4px;
      padding-bottom: 17px;
      transition: all linear 5s;
    }

    .membership-join-blocks__body:nth-child(4), .membership-join-blocks__body:nth-child(5) {
      display: none;
    }
  }

  .tierInfo {
    height: 132px;
    overflow: hidden;
    transition: all linear 5s;

    .membership-join__perk-item:last-child {
      margin-bottom: 0;
    }
  }

}

.membership-join__plan-header {
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: calc(var(--font-base) + 4px);
}

.membership__plan-perks {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //height: 100%;
  align-items: center;

  // Perks header
  .membership-join__plan-header {
    margin-top: 17px;
  }

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
      height: 100%;

      .expandable__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .expandable--closed {
          max-height: calc(180px * 3 / 4);
        }
      }
    }
  }

  ul,
  li {
    list-style-position: inside !important;
  }

  p {
    text-align: left;
  }
}

.membership-join__tab-buttons {
  margin-top: var(--spacing-s);
}

/** JOIN CARD ON CHANNEL PAGE **/

.channelPage-wrapper .membership-join-card,
.membership__body {
  padding: 0px 20rem;
}

.membership-join-card,
.membership {
  .section__actions {
    display: block;
  }

  .card__header--between {
    justify-content: center !important;
  }

  .card__subtitle {
    line-height: 1.5 !important;
  }

  .confirm__wrapper {
    padding-top: var(--spacing-s);

    .confirm__section {
      display: flex;
      flex-direction: column;

      &:not(:first-of-type) {
        margin-top: var(--spacing-m);
      }

      .confirm__label {
        margin-top: 0px;
      }

      .confirm__value {
        font-size: unset;
        display: unset;
        margin-top: 0px;

        ul {
          padding: var(--spacing-s);
          max-height: 15rem;
          overflow: scroll;
        }

        .membership-join__perk-item {
          text-align: start;
          list-style-position: inside !important;
        }
      }
    }

    .membership-join__spinner {
      margin-top: var(--spacing-s);
      text-align: center;
    }
  }

  .card__first-pane,
  .membership__body {
    text-align: center;
  }

  .join-membership-tab-renewal-date__header {
    font-size: 1.1rem;
    margin-top: 43px;
  }

  .help__no-card {
    color: var(--color-danger) !important;
    font-size: var(--font-base);
  }
}

.membership__plan-perks p {
  text-align: left;
}

.membership-join__perk-item,
.membership__plan-perks li {
  margin-left: 0px;
  margin-right: 0px;
  &:first-of-type {
    margin-top: 0px;
  }
}

.join-membership-support-time__header {
  font-size: 18px;
  margin-bottom: 6px;
}

.join-membership-support-time__header:nth-of-type(2) {
  margin-bottom: 34px;
}

.show-additional-membership-info__div {
  label {
    font-size: 17px;
  }

  .show-additional-membership-info__header {
    font-size: 17px;
    margin-top: 30px;
  }

  .checkbox:nth-of-type(1) {
    margin-top: 13px;
  }

  .checkbox:nth-of-type(2) {
    margin-top: 11px;
    margin-bottom: 15px;
  }
}

.activate-memberships-button__div {
  text-align: center;

  .activate-memberships__button {
    margin-top: 23px;
  }

  .button__label {
    font-size: 18px;
  }
}

.ReactModal__Overlay {
  .activate-memberships__modal {
    min-width: unset;
    max-width: 486px;
  }
}

.ReactModal__Overlay {
  .cancel-creator-membership__modal {
    min-width: unset;
    max-width: 486px;
  }

  .card__subtitle {
    line-height: 39px;
  }

  .card__title {
    text-align: center;
  }
}

.billingHistory__header {
  text-align: center;
  font-size: 25px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.billingHistory-back__button {
  margin-top: 34px;
}

// membership card
.membership-join-tab {
  min-height: 600px;

  .card__header--between, .card__title-section {
    display: block;
    margin-bottom: 14px;
  }

  .card__header--between, .membership-join__tab-buttons, .membership-join-purchase__div {
    text-align: center;
  }

  .membership-join__body {
    height: unset;
  }

  .card__body {
    text-align: center;
  }

  .confirm__value {
    display: block;
    margin-top: 0px;
  }

  .confirm__label {
    font-size: 17px;
  }

  .confirm__value {
    font-size: 16px;
  }

  .section__actions {
    display: block;
  }

  .membership-features-confirmation__section {
    margin-top: 5px;
    .confirm__value {
      max-width: 173px;
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 23px;
    }
  }

  .confirm__section {
    margin-bottom: 7px;
  }
}

.membership-join-perks__list {
  text-align: left;
  max-width: 450px;
  margin: 0 auto;
}

.membership-tab {
  .membership__body {
    padding: 0px 20%;
  }

  .membership__perk-item {
    color: var(--color-text-subtitle);
    width: 221px;
  }

  .membership__plan-header {
    font-size: 22px;
  }

  .membership__plan-description {
    font-size: 19px;
    margin-top: 3px;
  }
}

.can-create-your-own-memberships__div {
  max-width: 641px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.edit-div, .membership-tier__div {
  // this accounts for the header when scrolling
  scroll-margin-top: 83px;
}

// create tiers tab
.create-tier__card {
  background-color: rgba(var(--color-header-background-base), 0.4);
  border-radius: var(--border-radius);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.create-tiers__header {
  margin-bottom: 22px;
}

.add-membership__button {
  margin-top: 13px;
  font-size: 18px;
}


.join-membership-card__modal {
  overflow: hidden !important;

  form {
    height: 100%;
  }

  .membership-join-card {
    height: 100%;

    .membership-join__body {
      width: 78%;
      margin: 0 auto;
      max-height: 366px;
    }
  }
}


/** **/
.join-membership-card__modal {
  height: 600px;
  width: 600px;

  .membership-features-confirmation__section {
    .confirm__value {
      max-width: 231px;
      margin: 0 auto;
    }
  }
}
