.modal-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  background-color: var(--color-background-overlay);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  z-index: 9999;

  @media (max-width: $breakpoint-small) {
    background-color: rgba(var(--color-header-button-base), 0.3);
    padding: var(--spacing-s);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    .ReactModal__Content {
      border: 2px solid black;
      border-radius: var(--border-radius);
      .card {
        padding: var(--spacing-s);
        border: unset;
        .card__title {
          margin-top: var(--spacing-s);
        }
      }
    }
  }
}

.modal {
  @extend .card;
  background-color: var(--color-modal-background);
  line-height: 1.55;
  min-width: 500px;
  max-width: var(--modal-width);
  overflow: auto;
  overflow-x: hidden;
  padding: var(--spacing-l);
  word-break: break-word;
  background-color: var(--color-modal-background) !important;
  border-radius: var(--border-radius);
  border: 2px solid #000;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  .card {
    .card__main-actions {
      border-top: unset;
    }

    .card__title-section {
      padding-top: 0;
    }
    .card--inline {
      .claim-preview__wrapper {
        border: 2px solid var(--color-border);
        background: var(--color-header-background) !important;
        padding: var(--spacing-s) !important;
        .claim-preview-info {
          padding-top: 0;
          span {
            font-size: var(--font-body);
          }
        }
      }
    }
  }

  &:focus,
  &:focus-visible {
    box-shadow: none !important;
    background-color: var(--color-modal-background) !important;
  }

  /*
  .claim-preview__wrapper {
    padding-top: 0;

    .claim-preview-info {
      padding-top: var(--spacing-s);
    }
    .claim__menu-button {
      right: var(--spacing-xxs) !important;
    }
  }
  */

  .purchase-stuff {
    div:first-of-type {
      width: unset;
    }
    div:last-of-type {
      margin-left: auto;
      margin-right: var(--spacing-xs);
    }
  }

  @media (max-width: $breakpoint-small) {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: auto;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;

    .card {
      box-shadow: none;
      border: none;
    }

    .card__main-actions {
      .section__actions {
        .button {
          margin-top: var(--spacing-m);
          margin-right: var(--spacing-s);
          padding: 0;
          .button__content {
            .button__label {
              margin-left: var(--spacing-s);
              margin-right: var(--spacing-s);
              font-size: var(--font-small);
            }
          }
        }
        .button--primary {
          .button__content {
            .icon {
              margin-left: var(--spacing-s);
            }
            .button__label {
              margin-right: var(--spacing-s);
            }
          }
        }
      }
      .help {
        font-size: var(--font-small);
      }
      .checkbox {
        label {
          font-size: var(--font-xsmall) !important;
        }
      }
    }
  }

  .button--close {
    z-index: 10000;
    margin-top: var(--spacing-s);
  }

  .radio,
  .radio + h1 {
    margin-top: var(--spacing-s);
  }
}

.modal--wide {
  max-width: var(--modal-width-wide);
}

.modal--wide-fixed {
  width: var(--modal-width-wide);
  min-width: var(--modal-width-wide);
  max-width: var(--modal-width-wide);

  @media (max-width: $breakpoint-small) {
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
}

.modal--card-internal {
  padding: 0;
  border: none;

  .card {
    margin: 0;
    border: none;

    padding: var(--spacing-l);
    border: 2px solid black;
    border-radius: var(--border-radius);

    label {
      color: var(--color-text);
      font-size: var(--font-medium);
    }

    [data-reach-menu-button] {
      .channel__list-item--selected {
        background-color: var(--color-header-button) !important;
        color: var(--color-text);
        .claim-preview__title {
          margin-right: var(--spacing-s);
        }
      }
      &:hover {
        .channel__list-item--selected {
          background-color: var(--color-primary) !important;
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      .card__main-actions {
        border-top: unset !important;
      }
    }
  }
}

.error-modal__content {
  display: flex;
  padding: 0 var(--spacing-m) var(--spacing-m) var(--spacing-m);
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
  white-space: pre-wrap;
}

.error-modal__error-list {
  max-width: var(--modal-width);
  max-height: 400px;
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);

  background-color: rgba(255, 0, 0, 0.02);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text-error);
  border-left: 3px solid var(--color-text-error);
  color: var(--color-text-error);
  list-style: none;
  overflow-y: scroll;
  white-space: pre-wrap;

  li {
    margin-bottom: 0;
  }
}

.modal--add-card {
  .card {
    border: 0 !important;
  }
}
