.share {
  border-radius: 50%;
  .icon {
    height: 2.2rem;
    width: 2.2rem;
    stroke: none;
  }

  .icon--Minds {
    background: #242a30;
    border-radius: 50%;
  }

  &:hover {
    box-shadow: var(--card-box-shadow);
  }
}
