.spinner-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner-page--dark {
  background-color: #0b0b0d;
}

.spinner-page--light {
  background-color: #f7f7f7;
}

.spinner-page__container {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-page__logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 64px;
    height: 64px;
  }
}

.spinner-page__ring {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spinner-page-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner-page--dark .spinner-page__ring {
  border: 3px solid transparent;
  border-top-color: #f24158;
}

.spinner-page--light .spinner-page__ring {
  border: 3px solid transparent;
  border-top-color: #f24158;
}

@keyframes spinner-page-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
