.super-chat {
  border-radius: var(--border-radius);
  background-color: linear-gradient(to right, var(--color-superchat), var(--color-superchat-3));
  padding: 0.2rem var(--spacing-xs);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-xsmall);

  .credit-amount {
    color: var(--color-superchat-text);
  }
}

.super-chat--light {
  @extend .super-chat;
  //background: linear-gradient(to right, var(--color-superchat__light), var(--color-superchat-3__light));
  background-color: rgba(var(--color-primary-dynamic), 0.7);

  .credit-amount {
    color: var(--color-primary-contrast);
  }
}
