.swipeable-drawer__header {
  position: absolute;
  visibility: visible;
  right: 0;
  left: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-background);
  border-top: 1px solid var(--color-border);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: -120px;
  height: 120px;

  .button--close {
    top: 2px !important;
    right: 2px !important;
  }

  span,
  svg {
    color: var(--color-text);
  }
}

.swipeable-drawer__puller {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
  background-color: var(--color-text);
}

.MuiDrawer-root > .MuiPaper-root {
  overflow: visible;
  color: var(--color-text);
  position: absolute;
}

.swipeable-drawer__header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-small);

  h2:not(.card__title) {
    padding: var(--spacing-s);
    margin-top: var(--spacing-s);
  }
}

.swipeable-drawer__menu {
  display: flex;
  align-items: flex-start;

  svg {
    margin-left: var(--spacing-xxs);
  }
}

.swipeable-drawer__title-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .swipeable-drawer__title {
    font-size: var(--font-xsmall);
  }

  .swipeable-drawer__subtitle {
    font-size: var(--font-xxsmall);
    color: var(--color-text-subtitle);
  }
}

.swipeable-drawer__header-actions {
  display: flex;

  button {
    padding: 0.3rem;
  }

  button:not(:last-child) {
    margin-right: var(--spacing-xxs);
  }

  .menu__button {
    opacity: 1;
  }
}

.swipeable-drawer__expand-button {
  width: 100%;
  margin: var(--spacing-xxs) 0;
  border-radius: 0 !important;
  &.button--primary {
    padding-left: var(--spacing-xxs);
    background-color: var(--color-header-button) !important;
    border-radius: 0 !important;
    .button__content {
      .icon {
        stroke: var(--color-text);
      }
      .button__label {
        color: var(--color-text);
      }
    }
  }

  &.fixed {
    position: fixed;
    bottom: 0;
    top: unset;
    margin: 0px;
    border-top: 1px solid var(--color-header-button);
    z-index: 9999;
  }
}

.chat-card--drawer-header {
  display: flex;
  flex-direction: row;
  width: 100%;

  .chat-card--drawer-header-mode {
    padding: var(--spacing-s);
    margin-top: var(--spacing-m);

    .button-toggle {
      padding: 0 var(--spacing-s);
      height: var(--height-button-mobile);
    }
  }
  .menu__button {
    opacity: 1;
    margin-right: var(--spacing-xs);
  }

  button:last-of-type {
    margin-left: auto;
  }
}
