@import 'videojs-font/scss/videojs-icons.scss';

$control-bar-height: 48px;
$control-bar-height-mobile: 44px;
$control-bar-font-size: 0.8rem;
$control-bar-popup-font-size: 0.8rem;

.video-js {
  font-size: 12px;
  overflow: hidden;

  // Control Bar (container)
  .vjs-control-bar {
    background: none;
    color: #dbd8d8;
    height: $control-bar-height;

    &::before {
      position: absolute;
      bottom: 0;
      content: '';
      height: 5rem;
      width: 100%;
      background: rgba(20, 20, 20, 0.45);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0) 100%);
    }

    @media (max-width: $breakpoint-small) {
      height: $control-bar-height-mobile;
    }
  }

  @media (min-width: $breakpoint-small) {
    .vjs-control {
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
  @media (max-width: $breakpoint-small) {
    .vjs-control {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .vjs-time-control {
      padding-left: 0 !important;
    }
  }

  // Progress Bar
  .vjs-progress-control.vjs-control {
    position: absolute;
    display: block;
    align-items: center;
    width: calc(100% - var(--spacing-m) * 2);
    height: 2px;
    bottom: 90%;
    margin: 1px var(--spacing-m) 7px !important;

    @media (max-width: $breakpoint-small) {
      width: calc(100% - var(--spacing-s) * 2);
      margin: 1px var(--spacing-s) 7px !important;
    }

    .vjs-vtt-thumbnail-display {
      margin-top: -16px;
      border: 1px solid white;
      background-color: black !important;
      visibility: hidden;
      position: absolute;
      border-radius: 7px;
    }

    // Circle play head
    .vjs-play-progress::before {
      transform: scale(0);
      transition: transform 0.1s;
      color: transparent;
    }

    .vjs-progress-holder {
      margin: 0;
      border-radius: 4px;
    }

    &:hover {
      .vjs-play-progress::before {
        transform: scale(1);
      }
      .vjs-progress-holder {
        margin-top: -0.1em !important;
        height: 0.35em !important;
      }
    }
  }

  // Load progress color
  .vjs-load-progress,
  .vjs-load-progress div {
    border-radius: 4px;
    background-color: rgba(155, 155, 155, 1);
  }

  // Progress Bar Background
  .vjs-slider {
    background-color: rgba(60, 60, 60, 0.5);
  }

  // Primary Color Progress
  .vjs-slider-bar {
    background-color: var(--color-gray-5);
  }

  // Inner Progress Bar
  .vjs-play-progress {
    background-image: var(--color-odysee-memberships);
    color: var(--color-primary);
    border-radius: 4px;
  }

  // Spacer
  .vjs-custom-control-spacer {
    display: flex;
    flex: auto;
  }

  // Volume slider
  .vjs-volume-panel {
    margin-right: calc(var(--spacing-xxs) * -1);
    .vjs-volume-control.vjs-volume-horizontal {
      transition: 0.1s;
    }
  }
}

// Tooltip
.vjs-mouse-display .vjs-time-tooltip {
  color: white;
  white-space: nowrap;
  top: -32px;
  padding-top: 9px;
  background: rgba(0, 0, 0, 0.8);
}

// Tooltip
.video-js {
  .vjs-progress-control {
    .vjs-play-progress {
      .vjs-time-tooltip {
        display: none;
      }
    }
  }
}

// Transitions control bar between active / inactive
.vjs-has-started {
  .vjs-control-bar {
    opacity: 1;
    transition: 0.1s;
  }

  &.vjs-user-inactive.vjs-playing {
    .vjs-control-bar {
      opacity: 0;
      transition: 0.1s;
    }
  }
}

// Button glow
.video-js {
  .vjs-control,
  .vjs-time-divider {
    user-select: none;

    &:focus:before,
    &:hover:before,
    &:focus {
      // Disable builtin button glow
      text-shadow: none;
    }
  }
}

.bottom-gradient {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 72px);
}

.vjs-hover {
  opacity: 1;
}

.vjs-quality-selector,
.vjs-chapters-button {
  opacity: 1 !important;
  button {
    opacity: 0.9 !important;
    &:hover {
      opacity: 1 !important;
    }
  }
  .vjs-lock-showing {
    width: 8em !important;
    @media (max-width: $breakpoint-small) {
      .vjs-menu-content {
        max-height: 176px !important;
        right: var(--spacing-s);
      }
    }
  }
}

[dir] .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: rgba(28, 28, 28, 0.9);
  border-radius: var(--border-radius);
  max-height: 20em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

  li {
    font-size: $control-bar-popup-font-size;
  }

  .vjs-menu-title {
    position: sticky;
    top: 2px;
    color: var(--color-text);
    background-color: var(--color-header-background);
  }

  .vjs-menu-item {
    color: var(--color-white);
    margin: 2px;
    margin-left: var(--spacing-xxs);
    margin-right: var(--spacing-xxs);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    &:first-child {
      margin-top: var(--spacing-xxs);
    }
    &:last-child {
      margin-bottom: var(--spacing-xxs);
    }
    &:hover:not(.vjs-selected) {
      color: var(--color-primary-contrast);
      background-color: rgba(115, 133, 159.5);
      border-radius: var(--border-radius);
    }

    @media (max-width: $breakpoint-small) {
      padding: 0.1em var(--spacing-xxs);
      margin-left: var(--spacing-xxs);
      margin-right: var(--spacing-xxs);
      &:first-child {
        margin-top: var(--spacing-xxs);
      }
      &:last-child {
        margin-bottom: var(--spacing-xxs);
      }
    }
  }
  .vjs-selected {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    color: var(--color-primary-contrast);
  }
}

.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu {
  display: none;
}

.vjs-slider-horizontal {
  background-color: #474747 !important;
}

.vjs-mouse-display {
  color: white !important;
  background-color: lightgrey !important;
  background-color: white !important;
}

.vjs_video_3_ima-ad-container {
  display: none;
}

.ima-ad-container {
  display: none;
}

.video-js-parent .vjs-tech-chromecast {
  .vjs-tech-chromecast-poster {
    &::after {
      $chromecast-poster-width: 50px;
      width: $chromecast-poster-width;
      left: calc(50% - #{$chromecast-poster-width * 0.5});
    }
  }

  .vjs-tech-chromecast-poster-img {
    $chromecast-poster-max-height: 50px;
    max-height: $chromecast-poster-max-height;
    &.vjs-tech-chromecast-poster-img-empty {
      width: 80px;
      height: 90px;
    }
  }

  .vjs-tech-chromecast-title-container {
    margin-bottom: var(--spacing-main-padding);
  }

  .vjs-tech-chromecast-title {
    font-size: var(--font-title);
    @media (max-width: $breakpoint-small) {
      font-size: var(--font-small);
    }
  }

  .vjs-tech-chromecast-subtitle {
    color: var(--color-text-subtitle);
    font-size: var(--font-body);
    @media (max-width: $breakpoint-small) {
      font-size: var(--font-xsmall);
    }
  }
}

// larger than default spinner for all but smallest devices
@media (min-width: 680px) {
  .vjs-loading-spinner {
    border-radius: 100px;
    height: 75px;
    width: 75px;
    margin: -49px 0 0 -37px;
  }
}

// TODO: make sure there's no bad side effects of this
button.vjs-big-play-button {
  display: none;
}

.vjs-big-play-centered {
  .vjs-big-play-button {
    left: calc(50% - 2.5rem) !important;
    margin-left: unset !important;
    top: calc(50% - 2.5rem) !important;
    margin-top: unset !important;
  }
}

.vjs-seek-to-live-control {
  margin-left: calc(var(--spacing-s) + 4px) !important;
  .vjs-icon-placeholder {
    &::before {
      font-size: 1rem !important;
    }
  }
  .vjs-seek-to-live-text {
    font-size: $control-bar-font-size;
  }
  @media (max-width: $breakpoint-small) {
    padding-left: 0 !important;
    .vjs-icon-placeholder {
      &::before {
        font-size: 22px !important;
      }
    }
  }
}
.video-js {
  .vjs-seek-to-live-control {
    @media (max-width: $breakpoint-small) {
      padding-left: 0 !important;
      margin-left: 0.8em !important;
      .vjs-icon-placeholder {
        &::before {
          font-size: 14px !important;
        }
      }
    }
  }
}

// Rearrange icons
.vjs-button--play-previous {
  order: 1 !important;
  background-image: unset !important;
  .vjs-icon-placeholder {
    @extend .vjs-icon-previous-item;
  }
}
.vjs-play-control {
  order: 2 !important;
}
.vjs-button--play-next {
  order: 3 !important;
  background-image: unset !important;
  margin-left: 0 !important;
  // margin-right:0 !important;
  .vjs-icon-placeholder {
    @extend .vjs-icon-next-item;
  }
}
.vjs-volume-panel {
  order: 4 !important;
}

.vjs-seek-to-live-control {
  order: 5 !important;
}

.vjs-live-control {
  order: 5 !important;
  margin-left: 8px !important;
}

.vjs-current-time {
  order: 6 !important;
}
.vjs-time-divider {
  order: 7 !important;
}
.vjs-duration {
  order: 8 !important;
}
.vjs-custom-control-spacer {
  order: 9 !important;
}
.vjs-snapshot-button {
  order: 10 !important;
}
.vjs-subs-caps-button {
  order: 11 !important;
}
.vjs-button--autoplay-next {
  order: 12 !important;
}
.vjs-chapters-button {
  order: 13 !important;
}
.vjs-playback-rate {
  order: 14 !important;
}
.vjs-quality-selector {
  order: 15 !important;
  display: flex;

  .vjs-icon-placeholder {
    word-break: break-word;
    line-height: 1rem !important;
  }
}
.vjs-setting-button {
  order: 16 !important;
  max-width: 48px;
  .vjs-icon-placeholder {
    &::before {
      font-size: 22px !important;
    }
  }
  @media (max-width: $breakpoint-small) {
    max-width: 40px;
  }
}
.vjs-chromecast-button,
.vjs-airplay-button {
  order: 17 !important;

  .vjs-icon-placeholder {
    margin-top: 3px;
    width: 25px;
    height: 25px;
  }

  @media (max-width: $breakpoint-small) {
    .vjs-icon-placeholder {
      margin-top: 2px;
      width: 26px;
      height: 26px;
    }
  }
}
.vjs-button--theater-mode {
  order: 18 !important;
}
.vjs-fullscreen-control {
  order: 19 !important;
}

// livestream player
.livestreamPlayer {
  .vjs-current-time,
  .vjs-duration,
  .vjs-time-divider,
  .vjs-button--autoplay-next {
    // hiding progress control for now
    display: none !important;
  }
}

.vjs-chapter-marker {
  position: absolute;
  height: 100%;
  background-color: var(--color-error);
  width: 2px;
}

// don't show Tap To Unmute button on mobile miniplayer
.content__viewer--floating.content__viewer--mobile {
  .video-js--tap-to-unmute {
    visibility: hidden !important;
  }
}

.vjs-transitioning-video {
  opacity: 1 !important;
  display: flex !important;
  visibility: visible !important;
}

// add padding to the progress bar to make hover easier
.vjs-progress-control.vjs-control {
  padding-top: 21px;
}

.vjs-menu-button-popup {
  .vjs-menu {
    left: -50%;
  }
}
