.wallet-send-tip-modal {
  .help--no-card {
    // font-size: var(--font-base);
  }

  .confirm__wrapper {
    .confirm__value {
      width: 100%;
    }
    .claim-preview__wrapper--channel {
      width: 100% !important;
    }
  }

  .icon--DollarSign {
    height: 16px;
  }
}
