.walletTipSelector__input {
  position:relative;
  margin: var(--spacing-s) 0;
  display: flex;
  flex-direction: column;
  > span {
    margin-left: var(--spacing-s);
  }

  fieldset-section {
    position: relative;

    .arInput-wrapper{
      position:relative;

      span{
        position:absolute;
        display:flex;
        margin:0;
        top:0;
        bottom:0;
        align-items: center;
        left: var(--spacing-xs);
        font-size: inherit;
        font-weight: inherit;
      }
    }


    label[for='tip-input'] {
      position: absolute;
      display:flex;
      margin:0;
      top:0;
      bottom:0;
      align-items: center;
      left: var(--spacing-xs);
      font-size: inherit;
      font-weight: inherit;
      .disabled {
        opacity: 0.6;
      }
    }
    .usd-tip {
      padding-left: 22px;
    }
    div {
      // position:absolute;
      label[for='tip-input'] {
        position: unset;
        background: unset;
        // background:red;
      }
    }
  }
}

.walletTipSelector__input-conversion {
  height: 100%;
  margin:0 !important;
  // margin: auto;
}
