// Extends reach-ui menu button base stylesheet
/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: var(--font-body);
  max-width: calc(100% - var(--height-button) - var(--spacing-xs));
}

[data-reach-menu-list] {
  display: block;
  white-space: nowrap;
  outline: none;
  background-color: var(--color-menu-background);
  border: 1px solid var(--border-color);
  border-top: none;
}

[data-reach-menu-item] {
  display: block;
  z-index: 2;

  &:focus {
    box-shadow: none;
  }
}

[data-reach-menu-item] {
  cursor: pointer;
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;
  border-radius: var(--border-radius);
}

[data-reach-menu-item][data-selected] {
  color: var(--color-menu-icon-active);
  background-color: var(--color-menu-background-active);
  box-shadow: none;

  .icon {
    stroke: var(--color-menu-icon-active);
  }

  .comment__menu-help {
    color: var(--color-menu-icon-active);
  }
}

.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  //border-radius: 100%;
  //padding: 0.3rem;
  opacity: 0;

  .icon {
    stroke: var(--color-menu-icon);
  }

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.menu__title {
  &[aria-expanded='true'] {
    transform: rotate(0deg);
  }
}

.menu__list {
  //box-shadow: var(--card-box-shadow);
  transform-origin: top;
  animation: menu-animate-in var(--animation-duration) var(--animation-style);

  border-left: 2px solid var(--color-background);
  border-right: 2px solid var(--color-background);
  border-bottom: 2px solid var(--color-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs) 0;

  [data-reach-menu-item] {
    margin: 0 var(--spacing-xs);
  }
}

.menu__list--header {
  @extend .menu__list;
  margin-top: 10px;
}

.menu__list--comments {
  @extend .menu__list;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: var(--spacing-s);
  padding-right: var(--spacing-l);
  height: var(--button-height);

  .icon {
    stroke: var(--color-menu-icon);
    margin-right: var(--spacing-s);
  }

  .badge {
    margin-left: var(--spacing-s);
  }

  &:hover {
    color: var(--color-menu-icon-active);
    .icon {
      stroke: var(--color-menu-icon-active);
      margin-right: var(--spacing-s);
    }
  }
}

.menu__link-help {
  @extend .menu__link;
  display: block;
  color: var(--color-text-help);
  font-size: var(--font-small);
  padding-top: 0;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-x: hidden;

  :hover > & {
    color: black;
  }
}

.menu__link--notification {
  width: 100%;
  display: flex;
  align-items: flex-start;

  .icon__wrapper {
    height: 2.5rem;
    width: 2.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.menu__link--notification-nolink {
  @extend .menu__link--notification;

  &:hover {
    cursor: default;
  }
}

.menu__link--all-notifications {
  @extend .button--alt;
  width: auto;
  align-self: flex-start;
  margin-right: auto;
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-m);
}

.menu__separator {
  margin-top: var(--border-radius);
  margin-bottom: var(--border-radius);
}
