@import '~ui/scss/init/breakpoints';

.main-wrapper {
  #sticky-d-rc {
    bottom: var(--spacing-m) !important;
    left: calc(var(--spacing-m) + 93px) !important;
    width: calc(100% - (var(--spacing-m) * 2) - 93px) !important;
    // transition:all 0.4s;

    .sticky-d-rc {
      background-color: var(--color-header-background);
      border-radius: var(--border-radius);

      .sticky-d-rc-close {
        background-color: var(--color-header-background);

        #rcStickyClose {
          background-color: var(--color-primary);
          color: var(--color-text);
          margin-left: var(--spacing-s);
        }
      }
    }

    .sticky-d-rc-content {
      margin: var(--spacing-s);

      #rc-widget-sticky-d {
        height: 100%;
        .layout_1 {
          height: 200px;
          .sc-cTJkRt {
            height: 100%;
            .sc-jNnpgg {
              height: 100%;
            }
          }
        }
      }

      .css-widget-item-wrap {
        .rc-sponsored {
          .rc-photo-container {
            height: unset;
            max-height: unset;
            width: 100%;
            aspect-ratio: 16 / 7;

            img {
              border-radius: var(--border-radius);
            }
          }

          .rc-content {
            .rc-headline {
              color: var(--color-text);
            }
          }
        }

        &:hover {
          .rc-sponsored {
            .rc-content {
              .rc-headline {
                color: var(--color-primary);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    #sticky-d-rc {
      left: 0 !important;
      width: 100% !important;
      bottom: 0 !important;

      .sticky-d-rc-content {
        margin: var(--spacing-m);
      }

      .sticky-d-rc {
        height: 164px;

        .sticky-d-rc-close {
          #rcStickyClose {
            background-color: var(--color-primary);
            color: var(--color-text);
            height: 20px;
          }
        }
      }
      .sticky-d-rc-content {
        height: 164px;
      }
    }
  }
}

/*
.rev-shifter {
  // background-color: transparent !important;
  padding-bottom: 0 !important;
  box-shadow: 0 4px 6px 5px var(--color-text-inverse) !important;
  width: 270px !important;
  height: 110px !important;
  border-radius:var(--border-radius);           

  bottom: var(--spacing-m) !important;
  left: calc(var(--spacing-m) + 93px) !important;

  transform: unset !important;
  transition: left var(--resizing-animation-timing) !important;
  // display: none;
  &.VISIBLE {
    display: block;
  }
  &.LEFT {
    @media (min-width: $breakpoint-small) {
      left: calc(var(--side-nav-width) + var(--spacing-m)) !important;      
    }
  }

  #rev-slider-container {
    background-color: var(--color-header-background) !important;    

    .rev-content {
      border-right: 1px solid var(--color-border);
      .rev-ad {
        background: var(--color-header-background) !important;
        border-radius: var(--border-radius) !important;

        .rev-headline-brand {
          padding: var(--spacing-xxs);
        }

        h3 {
          color: var(--color-text) !important;
        }
        a {
          &:hover {
            .rev-headline {
              text-decoration-line: unset !important;
            }
          }
        }
        &:hover {
          h3 {
            color: var(--color-primary) !important;
          }
        }
      }
    }
  }

  .rev-foot {
    margin-bottom: 15px;
  }
}

#rev-shifter.rev-shifter.bottom .rev-foot {
  top: unset !important;
  bottom: 0;
  right: 70px;
}
*/
