@import '~ui/scss/init/breakpoints';

.claim-preview-featured {
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  color: var(--color-text);
  .menu__button.claim__menu-button {
    position: absolute;
    top: 6px;
    right: 2px;
    padding: 2px;
    transition: transform 0.2s;
    &[aria-expanded='true'] {
      opacity: 1;
      background-color: var(--color-header-button);
      border-radius: 50%;
      transform: rotate(90deg);
      .icon {
        stroke: var(--color-primary);
      }
    }
  }
  .media__thumb {
    width: calc(var(--file-list-thumbnail-width) * 2) !important;
    margin-right: 0 !important;
    background-size: 100%;
    transition: background-size 0.2s ease-in-out;

    .claim-preview__overlay-properties {
      position: absolute;
      background-color: black;
      padding: 0.3rem;
      border-radius: var(--border-radius);
      right: var(--spacing-s);
      bottom: var(--spacing-s);
      opacity: 0.85;
    }

    .ff-container {
      .ff-canvas,
      .ff-image {
        width: 100% !important;
        height: 100% !important;
        border-radius: 50%;
        canvas,
        img {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      width: 100% !important;
    }
  }
  .claim-preview__text {
    position: relative;
    justify-content: flex-start;
    padding-left: var(--spacing-m);
    min-width: 0;
    .claim-preview-info {
      font-size: var(--font-large);
      max-width: 100%;
      margin-right: var(--spacing-l);
      span {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .claim-preview__title {
      span {
        color: rgba(var(--color-text-base), 0.6);
      }
      &:hover {
        span {
          color: var(--color-text);
        }
      }
    }
    .claim-preview-author {
      display: flex;
      .channel-thumbnail {
        width: 1.1rem;
        height: 1.1rem;
        margin-top: 1px;
      }
      .channel-name {
        &:after {
          content: '•';
          padding-left: var(--spacing-xs);
          padding-right: 4px;
        }
      }
      .view_count {
        &:after {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
    }
    .claim-preview-metadata {
      .claim-tile__info {
        margin-top: -7px;
      }
    }
    .claim-preview-description {
      max-height: 10.2rem;
      overflow: hidden;
      overflow-wrap: anywhere;
      -webkit-mask-image: -webkit-gradient(linear, left 55%, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      mask-image: -webkit-gradient(linear, left 55%, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      p {
        font-size: var(--font-small);
        margin-top: 0;
      }
    }
    .membership-button-wrapper {
      display: none;
    }
  }

  &:hover {
    .claim-preview-info {
      color: var(--color-primary);
    }
    .menu__button.claim__menu-button {
      opacity: 1;
    }
    .media__thumb {
      background-size: 108%;
      .claim-preview__overlay-properties {
        opacity: 1;
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    flex-flow: column;

    .menu__button.claim__menu-button {
      top: 16px;
      opacity: 1;
    }

    .claim-preview__text {
      padding-left: 0;
      padding-top: var(--spacing-s);
    }
  }
}

.claim-preview-featured-placeholder {
  width: 100%;

  .media__thumb {
    height: 216px;
  }

  .claim-preview__text {
    .claim-preview-info {
      span {
        width: 60%;
        height: 21px;
        background-color: var(--color-text);
        opacity: 0.2;
        border-radius: var(--border-radius);
        margin-top: 6px;
      }
    }
    .claim-preview-author {
      .channel-thumbnail--xsmall {
        width: 1.1rem;
        height: 1.1rem;
        background: var(--color-header-background);
        border-radius: 50%;
        margin-top: 6px;
      }
      .media__subtitle {
        width: 20%;
        height: 16px;
        background-color: var(--color-text);
        opacity: 0.1;
        border-radius: var(--border-radius);
        margin-top: 6px;
      }
    }
    .claim-preview-description {
      margin-top: var(--spacing-m);
      div {
        width: 70%;
        height: 14px;
        background-color: var(--color-text);
        opacity: 0.2;
        border-radius: var(--border-radius);
        margin-top: 6px;
      }
    }
  }
}
