@import '~ui/scss/init/breakpoints';

.rc_aboveComments {
  margin-top: calc(var(--spacing-xl) * -1);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-m);
  margin-bottom: var(--spacing-m);

  @media (max-width: $breakpoint-small) {
    margin-top: calc(var(--spacing-s) * -1);
  }

  .rc-uid-273461 {
    .rc-cta {
      .rc-headline {
        color: var(--color-text) !important;
      }
      .rc-provider {
        color: rgba(var(--color-text-base), 0.6) !important;
        &:hover {
          color: rgba(var(--color-text-base), 1) !important;
        }
      }
      &:hover {
        .rc-headline {
          color: var(--color-primary) !important;
        }
      }
    }
  }

  .rc-widget-headline {
    color: var(--color-text) !important;
  }

  .rc-feed-row {
    background-color: rgba(var(--color-header-background-base), 0.6);
    border-radius: var(--border-radius);
  }

  .rc-widget-header {
    margin: 5px 0;
  }

  .rc-brand-wrapper {
    border-radius: 50% 0 50% 50%;
    margin-right: 0;
  }

  .rc-image-container {
    border-radius: var(--border-radius);
  }

  .jndTuo {
    transition: unset;
    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.main--markdown {
  .file-page__post-comments {
    .rc_aboveComments {
      width: 43rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--spacing-xs);

      @media (min-width: $breakpoint-large) {
        width: 52rem;
      }
      @media (max-width: $breakpoint-small) {
        width: 100%;
      }

      .rc-image-container {
        min-height: unset;
        aspect-ratio: 16 / 9;
      }
    }
  }
}
