@import '../../../../scss/init/_breakpoints.scss';

.replay-picker--container {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-border);
  background-color: var(--color-input-bg);
  overflow: hidden;

  .table__wrapper {
    padding: var(--spacing-xxs);
    padding-top: 0;
  }

  .fieldgroup--paginate {
    background-color: var(--color-border);
    padding: var(--spacing-xxs) !important;
    margin-top: var(--spacing-xxs) !important;
  }
}

.table--livestream-data {
  border-collapse: separate;
  border-spacing: 0;
}

.livestream__data-row {
  border-radius: var(--border-radius);
  background-color: rgba(var(--color-header-button-base), 0.4);
  cursor: pointer;
  .radio {
    cursor: pointer;
  }

  &:nth-child(n) {
    &.livestream__data-row--selected {
      background-color: rgba(var(--color-header-button-base), 1);
      td {
        border-radius: unset !important;
        border-top: 2px solid var(--color-border) !important;
        border-bottom: 2px solid var(--color-border) !important;
        &:first-child {
          border-left: 2px solid var(--color-border) !important;
          border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
        }
        &:last-child {
          border-right: 2px solid var(--color-border) !important;
          border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
        }
      }
    }
  }
  td {
    background-color: rgba(var(--color-header-background-base), 0.4);
    padding-right: var(--spacing-m);
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;

    &:first-child {
      padding-left: var(--spacing-s);
      padding-right: 0;
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      border-left: 2px solid transparent !important;
    }
    &:last-child {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      border-right: 2px solid transparent !important;
    }

    @media (max-width: $breakpoint-small) {
      padding: var(--spacing-xs);
    }
  }
  .button--primary {
    margin-bottom: -2px;
  }
  &:hover {
    background-color: rgba(var(--color-header-button-base), 0.6);
    td {
      .radio {
        label::before {
          cursor: pointer;
          background-color: var(--color-input-toggle-bg-hover);
        }
      }
      label {
        cursor: pointer;
      }
    }

    input {
      cursor: pointer;
    }
  }
}

.livestream__data-row-spacer {
  height: var(--spacing-xxs);
}

.checkbox {
  display: inline-block;
  label {
    margin-bottom: -5px;
  }
}

.disabled {
  .table__wrapper {
    height: 98px;
    overflow: hidden;
  }
}
