.creator-settings-tab {
  .settings-row {
    margin-top: 0;
    padding: var(--spacing-s);
    border-bottom: 1px solid var(--color-border);

    .tag--blocked-words {
      margin-bottom: 0;
    }
    .settings-row__value--multirow {
      margin-top: var(--spacing-s);
    }
    .tags--remove,
    .tag__input {
      margin-bottom: 0;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }

  .card__main-actions {
    border-top: unset;
  }

  .settings-row__subtitle {
    margin-bottom: 0;
  }

  .tag--remove {
    color: black !important;
  }

  input,
  .tag__input {
    background-color: var(--color-background);
  }

  .checkbox {
    label {
      &:before {
        background-color: var(--color-background);
      }
    }
  }

  .tag--blocked-words {
    .tag {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast) !important;
    }
  }
}
