/*
@import '~ui/scss/init/breakpoints';

$OPTIONS_MIN_WIDTH: 250px;

.clh__wrapper {
  // These changes should be done in the main file, but no time to test
  // the collection's claim list header (which shares the same selector),
  // hence the wrapper.

  .claim-search__menus {
    padding: 0;
  }

  .claim-search__menu-group {
    @media (max-width: $breakpoint-small) {
      &.stretch {
        width: 100%;
      }
    }
  }


}
*/
