@import '~ui/scss/init/breakpoints';

.recommendation-overlay-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: var(--border-radius);
  animation: blendin 1s forwards;
  padding: 3% 10%;
  padding-bottom: 80px;

  @media (max-width: $breakpoint-small) {
    padding: 4% 18%;
    padding-bottom: 90px;
    .vjs-icon-placeholder {
      z-index: 1000;
    }
  }

  .recommendation-overlay-grid {
    width: 100%;
    height: 100%;
    display: grid;
    gap: var(--spacing-xxs);
    grid-template-columns: repeat(3, 1fr);

    .claim-preview--tile {
      width: 100%;
      height: 100%;
      margin: 0;
      animation: grow 0.6s forwards;

      &:active {
        pointer-events: none;
      }

      a {
        pointer-events: none;
      }

      .claim-tile__title {
        min-height: unset;
      }

      .claim-tile__header {
        position: absolute;
        top: 0;
        width: 100%;
        padding: var(--spacing-s);
        // padding-bottom: var(--spacing-m);
        padding-top: 0;
        background: linear-gradient(180deg, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 100%);
        display: none;
      }
      .claim-preview__hover-actions,
      .menu__button {
        display: none;
      }

      .claim-tile__info {
        position: absolute;
        padding-bottom: 0;
        bottom: 0;
        width: 100%;
        padding: var(--spacing-m) var(--spacing-s);
        background: linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 100%);
        display: none;
      }

      .claim-preview__file-property-overlay {
        display: none;
        margin: var(--spacing-xxs);
      }

      &:hover {
        .claim-tile__info {
          display: flex;
          .channel-name,
          .date_time {
            color: white;
          }
        }
        .claim-tile__header {
          display: flex;
          .claim-tile__title {
            color: white;
          }
        }
        .claim-preview__file-property-overlay {
          display: block;
        }
        .media__thumb {
          box-shadow: unset;
        }
      }
    }
  }
}

.content__viewer--theater-mode {
  .recommendation-overlay-wrapper {
    padding: 4% 24% 6% 24%;

    @media (orientation: portrait) {
      padding: 5% 10% !important;
      padding-bottom: 7% !important;
    }
  }
}

.content__viewer--floating {
  .recommendation-overlay-wrapper {
    padding: 6% 20% 14% 20%;

    .recommendation-overlay-grid {
      .claim-preview--tile {
        pointer-events: none;
        &:hover {
          .claim-tile__info,
          .claim-tile__header,
          .claim-preview__file-property-overlay {
            display: none;
          }
        }
      }
      div {
        transition: background-size 0.2s;
        &:hover {
          cursor: pointer !important;
          .media__thumb {
            background-size: 108%;
          }
        }
      }
    }
  }
}

.content__viewer--mobile {
  .recommendation-overlay-wrapper {
    border-radius: 0;
    .recommendation-overlay-grid {
      div:nth-child(5) {
        .claim-preview--tile {
          opacity: 0;
          pointer-events: none;
        }
        background-size: 40%;
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg>');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  &.content__viewer--floating {
    .recommendation-overlay-wrapper {
      display: none;
    }
  }
}

.content__viewer--portrait {
  .recommendation-overlay-wrapper {
    padding: 52% 4% 52% 4%;
  }
}

.vjs-control-bar {
  z-index: 2;
  display: flex !important;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@keyframes blendin {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
