.collection-header__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: var(--spacing-m);

  .background__wrapper {
    width: 100%;
    height: 160px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: var(--spacing-m);
    .background {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 110%;
      // background-position: 50%;
      filter: blur(12px);
      -webkit-filter: blur(12px);
    }

    .media__actions {
      position: absolute;
      bottom: 0;
      background-color: rgba(var(--color-background-base), 0.6);
      margin: var(--spacing-s);
      padding: var(--spacing-m);
      border-radius: var(--border-radius);
      width: calc(100% - (var(--spacing-s) * 2));
    }
  }
}
