@import '~ui/scss/init/breakpoints';

.collection-header__wrapper {
  position: relative;
  width: 100%;

  .background__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: rgba(var(--color-header-button-base), 0.4);

    .background {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 120%;
      background-position: 50%;
      filter: blur(12px);
      -webkit-filter: blur(12px);
      opacity: 0.3;
    }
  }

  .collection-header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--spacing-m);

    .collection-header__content-top {
      display: flex;
      .collection-header__title {
        display: flex;
        flex-direction: column;
        font-size: var(--font-large);
        font-weight: var(--font-weight-bold);

        .claim-preview--channel {
          margin-bottom: var(--spacing-s);
          .button__content {
            align-items: start;
            .channel-thumbnail {
              width: 2rem;
              height: 2rem;
              margin-right: var(--spacing-s);
            }
          }
          .claim-preview__title {
            margin-top: 2px;
            font-size: var(--font-small) !important;
            line-height: var(--font-small) !important;
          }
          .claim-tile__info {
            margin-top: 0;
            padding-bottom: 0;

            .icon {
              // background:red;
              height: 14px;
              margin-bottom: -2px;
            }
          }
        }

        .visibility {
          svg {
            background: var(--color-text);
            border-radius: 50%;
            stroke: var(--color-background);
            padding: var(--spacing-xxs);
            margin-right: var(--spacing-s);
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .collection-header__actions {
        margin-left: auto;
        button {
          padding: var(--spacing-s);
          background: rgba(var(--color-background-base), 0.8);
          &:hover {
            background: rgba(var(--color-background-base), 1);
          }
        }

        .menu__button {
          opacity: 1;
          padding: 10px;
          border-radius: var(--border-radius);
        }
      }
    }

    .collection-header__text {
      .collection-header__description {
        padding: var(--spacing-s);
        background-color: rgba(var(--color-background-base), 0.6);
        border-radius: var(--border-radius);
        font-size: var(--font-small);

        .collection-header__meta {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: var(--spacing-m);
          gap: var(--spacing-s);

          .collection-header__meta-entry {
            flex: 1;
            align-items: center;
            border-radius: var(--border-radius);
            text-align: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: 50%;

            div {
              padding: var(--spacing-s);
              border-radius: var(--border-radius);
              background-color: rgba(var(--color-header-button-base), 0.8);
            }

            .icon {
              margin-right: var(--spacing-xxs);
              margin-bottom: -4px;
            }
          }
        }
      }
    }
  }
}

.collection-actions {
  margin-bottom: var(--spacing-l);
  position:sticky;
  top:var(--header-height);
  background-color:var(--color-background);
  z-index:1;

  @media (max-width: $breakpoint-medium) {
    flex-flow: column;

    .section__actions {
      &:first-of-type {
        margin-right: 0;
        & > * {
          flex: 1;
        }

        .button--no-style {
          margin-right: var(--spacing-m);

          &:last-of-type {
            display: flex;
            margin-right: 0;

            .button__content {
              margin-left: auto;
            }
          }
        }

        .ratio-wrapper {
          margin-left: 0;
          margin-right: var(--spacing-m) !important;
          .button--no-style {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    flex-flow: wrap;
    button {
      &:last-of-type {
        margin-right: 0 !important;
      }
    }

    .section__actions {
      margin-right: 0;

      &:last-of-type {
        width: 100%;
        button {
          margin-right: 0 !important;
          span {
            justify-content: center;
            // margin-left:unset !important;
            margin-right: auto;
          }
        }
      }
    }

    .sort-menu__button {
      button:not(.button--file-action) {
        padding-left: 0;
      }
    }
  }

  .section__actions {
    flex-grow: 1;

    .ratio-wrapper {
      margin-left: var(--spacing-m);
      margin-right: var(--spacing-m) !important;
    }

    *:not(:last-child) {
      margin-right: 0;
    }
    &:last-of-type {
      justify-content: end;
    }
  }
}
