@import '~ui/scss/init/breakpoints';

.collection-header__wrapper {
  position: relative;
  width: 100%;

  .background__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: rgba(var(--color-header-button-base), 0.4);

    .background {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      // background-size: 120%;
      background-size: cover;
      background-position: 50%;
      filter: blur(12px);
      -webkit-filter: blur(12px);
      opacity: 0.3;
    }
  }

  .pending-change {
    height: var(--height-button);
    background-color: rgba(244, 44, 44, 0.9);
    border-radius: var(--border-radius);
    .spinner {
      height: 20px;
    }

    @media (max-width: $breakpoint-small) {
      width: 31px;
      margin-top: var(--spacing-xxs);
      .spinner {
        align-items: unset !important;
      }
    }
  }

  .collection-header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--spacing-m);

    .collection-header__content-top {
      display: flex;
      .collection-header__title {
        display: flex;
        flex-direction: column;
        font-size: var(--font-large);
        font-weight: var(--font-weight-bold);

        .claim-preview--channel {
          margin-bottom: var(--spacing-s);
          .button__content {
            align-items: start;
            .channel-thumbnail {
              width: 2.5rem;
              height: 2.5rem;
              margin-right: var(--spacing-s);
            }
          }
          .claim-preview__title {
            margin-top: 4px;
            font-size: var(--font-small) !important;
            line-height: var(--font-small) !important;
            color: rgba(var(--color-text-base), 0.8);
            &:hover {
              color: rgba(var(--color-text-base), 1);
            }
          }
          .claim-tile__info {
            margin-top: 0;
            padding-bottom: 0;

            .icon {
              height: 14px;
              margin-bottom: -2px;
            }
          }
          .claim-preview__actions {
            button {
              font-size: var(--font-body);
              margin-top: 0 !important;
              span {
                align-items: center;
              }
            }
          }
        }

        .visibility {
          svg {
            background: var(--color-text);
            border-radius: 50%;
            stroke: var(--color-background);
            padding: var(--spacing-xxs);
            margin-right: var(--spacing-s);
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .collection-header__actions {
        margin-left: auto;
        margin-bottom: var(--spacing-s);
        button {
          padding: var(--spacing-s);
          background: rgba(var(--color-background-base), 0.8);
          &:hover {
            background: rgba(var(--color-background-base), 1);
          }
        }

        .menu__button {
          opacity: 1;
          padding: 10px;
          border-radius: var(--border-radius);
          &[aria-expanded='true'] {
            background-color: var(--color-background);
            .icon {
              stroke: var(--color-primary);
            }
          }
        }

        @media (max-width: $breakpoint-small) {
          div:first-child {
            display: flex;
            flex-direction: column-reverse;
            align-items: end;
            .button {
              margin-right: unset;
              margin-top: var(--spacing-xxs);
            }
          }
        }
      }
    }

    .collection-header__text {
      .collection-header__description {
        padding: var(--spacing-s);
        background-color: rgba(var(--color-background-base), 0.6);
        border-radius: var(--border-radius);
        font-size: var(--font-small);

        .collection-header__meta {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: var(--spacing-m);
          gap: var(--spacing-s);

          .collection-header__meta-entry {
            flex: 1;
            align-items: center;
            border-radius: var(--border-radius);
            text-align: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: 50%;

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: var(--spacing-s);
              border-radius: var(--border-radius);
              background-color: rgba(var(--color-header-button-base), 0.8);
              height: 100%;
            }

            .icon {
              margin-right: var(--spacing-xxs);
            }
          }
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      padding: var(--spacing-xxs);

      .collection-header__text {
        .collection-header__description {
          padding: var(--spacing-xxs);
          .collection-header__meta {
            gap: var(--spacing-xxs);
            margin-top: var(--spacing-xxs);
            flex-wrap: wrap;
            .collection-header__meta-entry {
              flex-grow: 1;
              align-items: center;
              flex: 1 0 40%;
              box-sizing: border-box;
              div {
                font-size: var(--font-xxsmall) !important;
                padding: var(--spacing-xxs);
                span {
                  font-size: var(--font-xxsmall) !important;
                }
                svg {
                  width: 10px;
                  height: 10px;
                  margin-right: var(--spacing-xxxs) !important;
                  margin-bottom: -2px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.collection-actions {
  margin-bottom: var(--spacing-l);
  position: sticky;
  top: var(--header-height);
  background-color: var(--color-header-background);
  z-index: 7;
  border-bottom: 1px solid var(--color-header-button);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  &:after {
    position: absolute;
    background: linear-gradient(180deg, var(--color-background) 0, transparent 35%);
    bottom: -20px;
    width: 100%;
    height: 20px;
    content: '';
    z-index: 7;
  }

  .section__actions {
    flex-grow: 1;

    .ratio-wrapper {
      margin-left: var(--spacing-m);
      margin-right: var(--spacing-m) !important;
    }

    button:not(.button-like):not(.button-dislike):not(.button-toggle):not([data-reach-menu-button]) {
      background: var(--color-header-button);
      margin: var(--spacing-s) 0;
      padding: var(--spacing-s);
      // margin-right: var(--spacing-m) !important;
      &:hover {
        background: var(--color-primary) !important;
        .button__label,
        .icon {
          color: var(--color-primary-contrast);
        }
        .icon {
          stroke: var(--color-primary-contrast);
        }
      }
    }
    .button-toggle {
      margin-right: 0;
      background-color: var(--color-header-button) !important;
      &:hover {
        background-color: var(--color-primary) !important;
      }
    }

    *:not(:last-child) {
      // margin-right: 0;
    }
    &:last-of-type {
      justify-content: end;
    }
    &:first-of-type {
      justify-content: start;
    }
  }

  @media (max-width: $breakpoint-small) {
    top: var(--header-height-mobile);
    .section__actions {
      margin: 0;
    }
    .button {
      background-color: var(--color-header-button);
    }
    &:after {
      display: none;
    }
  }
}
