.collection-header__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: var(--spacing-m);

  .background__wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
    overflow: hidden;

    .background {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 120%;
      background-position: 50%;
      filter: blur(12px);
      -webkit-filter: blur(12px);
    }

    .collection-header__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;

      .collection-header__actions {
        padding: var(--spacing-m);
        margin-left: auto;
        button {
          background: rgba(var(--color-background-base), 0.8);
          &:hover {
            background: rgba(var(--color-background-base), 1);
          }
        }

        .menu__button {
          opacity: 1;
          padding: 10px;
          border-radius: var(--border-radius);
        }
      }

      .collection-header__meta {
        margin: var(--spacing-m);
        .collection-header__description {
          padding: var(--spacing-s);
          background-color: rgba(var(--color-background-base), 0.6);
          border-radius: var(--border-radius);
          font-size: var(--font-small);
        }
      }
    }
  }

  .collection-actions {
    background-color: red;
    margin-bottom: var(--spacing-l);
  }
}
