.button--manage-memberships {
  margin-bottom: var(--spacing-s);
  text-align: right;
}

.selected-membership {
  margin-bottom: calc(var(--spacing-s) * -1);
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
