.button--manage-memberships {
  margin-bottom: var(--spacing-s);
  text-align: right;
}

.selected-membership {
  margin-bottom: calc(var(--spacing-s) * -1);
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.missing-wallet-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  border: 1px solid var(--color-text-error);
  border-radius: var(--border-radius);
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-m);
  background: rgba(218, 4, 4, 0.1);

  a {
    color: var(--color-primary);
  }
}
