.button--manage-memberships {
  margin-bottom: var(--spacing-s);
  // text-align: center;
  text-align: right;
}

.selected-membership {
  margin-bottom: calc(var(--spacing-s) * -1);
  max-width: 100%;
  // font-weight: var(--font-bold);
  // font-size: var(--font-large);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
