global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  option forwardfor
  timeout connect 5s
  timeout client 60s
  timeout server 60s

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout retry 1s
  hold valid 10s

frontend http_in
  bind *:80
  http-request set-header X-Forwarded-Proto http
  default_backend odysee_frontend

backend odysee_frontend
  balance roundrobin
  option httpchk
  http-check send meth HEAD uri / ver HTTP/1.1 hdr Host localhost
  http-check expect status 200
  server-template frontend 10 frontend:1337 check resolvers docker init-addr libc,none
