.premium-wrapper {
  .membership_title {
    .comment__badge {
      .icon {
        margin-bottom: -6px;
      }
    }
  }
  .premium-option {
    background-color: rgba(var(--color-header-button-base), 0.6);
    border-radius: var(--border-radius);
    padding: var(--spacing-m);
    margin-bottom: var(--spacing-m);

    .button {
      max-width: 100%;
    }
  }

  .premium-explanation-text {
    margin-bottom: 21px;

    .icon--ChevronDown,
    .icon--ChevronUp {
      height: 24px;
      width: 24px;
    }
    .icon--ChevronUp {
      margin-top: -2px;
      margin-bottom: 2px;
    }

    .card__main-actions {
      margin-bottom: 15px;
    }

    .button--close {
      margin-top: 3px;
      width: 34px;
    }

    .section__subtitle {
      margin-bottom: 25px;
    }

    li {
      margin-left: var(--spacing-l);
    }
  }

  .cancel-membership-button {
    background-color: var(--color-background);
    margin-top: var(--spacing-s);
    &:hover {
      background-color: var(--color-primary);
    }
  }
}
