.channel-preview-wrapper {
  width: 100%;
  height: 152px;
  background: var(--color-background);
  margin-top: var(--spacing-s);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 2px solid var(--color-border);
  position: relative;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  .channel-preview-header {
    width: 100%;
    height: 68px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .channel-preview-tabs {
    width: 100%;
    height: 20px;
    background: var(--color-header-background);
  }
  .channel-preview-thumbnail {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--color-header-background);
    border-radius: 50%;
    top: 21px;
    left: 20%;
    box-shadow: 0 1px 2px 0 black, 0 2px 5px 0 rgb(0 0 0 / 60%);
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .channel-preview-grid {
    display: grid;
    gap: 10px;
    width: 60%;
    height: 100%;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: repeat(6, 1fr);

    .channel-preview-grid-tile {
      div {
        &:nth-child(1) {
          background-color: var(--color-header-background);
          width: 100%;
          height: 22px;
          border-radius: 3px;
        }
        &:nth-child(2) {
          width: 100%;
          height: 2px;
          background-color: var(--color-text);
          opacity: 0.4;
          border-radius: 3px;
          margin-top: 2px;
        }
        &:nth-child(3) {
          width: 90%;
          height: 2px;
          background-color: var(--color-text);
          opacity: 0.4;
          border-radius: 3px;
          margin-top: 2px;
        }
        &:nth-child(4) {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-bottom: 5px;
          background: var(--color-header-background);
          display: inline-block;
        }
        &:nth-child(5) {
          display: inline-block;
          width: calc(100% - 12px);
          margin-left: 2px;
          div:nth-child(1) {
            height: 2px;
            background-color: var(--color-text) !important;
            opacity: 0.2;
          }
          div:nth-child(2) {
            margin-bottom: 7px;
            width: 90%;
            opacity: 0.2;
          }
        }
      }

      .title {
        &:nth-of-type(3) {
          width: 90%;
        }
      }
      .channel {
      }
    }
  }
}

.image-upload-wrapper {
  margin-top: var(--spacing-s);
  .preview-image-wrapper {
    width: 100%;
    min-height: 40px;
    margin-top: var(--spacing-s);
    background-color: var(--color-header-button);
    border-radius: var(--border-radius);
    padding: var(--spacing-s);
    text-align: center;
    .preview-image-container {
      margin-bottom: calc(var(--spacing-xs) * -1);
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .preview-image {
      max-width: 50%;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius);
      margin-bottom: var(--spacing-xs);
    }
  }
}
