@import '~ui/scss/init/breakpoints';

.channel-preview__wrapper {
  width: 100%;
  height: 160px;
  background: var(--color-background);
  margin-top: var(--spacing-s);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 2px solid var(--color-border);
  position: relative;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  .channel-preview__header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 32 / 5;

    canvas {
      max-width: 100%;
    }
  }
  .channel-preview__tabs {
    position: relative;
    width: 100%;
    height: 16px;
    background: var(--color-header-background);
    border-bottom: 1px solid var(--color-header-button);

    div {
      display: flex;
      position: absolute;
      top: 1px;
      left: calc(20% + 50px);
      gap: var(--spacing-xxxs);

      span {
        display: inline-block;
        width: 24px;
        height: 6px;
        background: white;
        border-radius: var(--border-radius);
        opacity: 0.6;
      }
    }
  }
  .channel-preview__thumbnail {
    position: absolute;
    width: 42px;
    height: 42px;
    background: var(--color-header-button);
    border-radius: 50%;
    top: 54px;
    left: 20%;
    box-shadow: 0 1px 2px 0 black, 0 2px 5px 0 rgb(0 0 0 / 60%);
    img,
    canvas {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .channel-preview__grid {
    display: grid;
    gap: 10px;
    width: 60%;
    height: 100%;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: repeat(6, 1fr);

    .channel-preview__grid-tile {
      div {
        &:nth-child(1) {
          background-color: var(--color-header-button);
          width: 100%;
          height: 22px;
          border-radius: 3px;
        }
        &:nth-child(2) {
          width: 100%;
          height: 2px;
          background-color: var(--color-text);
          opacity: 0.4;
          border-radius: 3px;
          margin-top: 2px;
        }
        &:nth-child(3) {
          width: 90%;
          height: 2px;
          background-color: var(--color-text);
          opacity: 0.4;
          border-radius: 3px;
          margin-top: 2px;
        }
        &:nth-child(4) {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-bottom: 5px;
          background: var(--color-header-button);
          display: inline-block;
        }
        &:nth-child(5) {
          display: inline-block;
          width: calc(100% - 12px);
          margin-left: 2px;
          div:nth-child(1) {
            height: 2px;
            background-color: var(--color-text) !important;
            opacity: 0.2;
          }
          div:nth-child(2) {
            margin-bottom: 7px;
            width: 90%;
            opacity: 0.2;
          }
        }
      }

      .title {
        &:nth-of-type(3) {
          width: 90%;
        }
      }
      .channel {
      }
    }
  }
}

.image-upload__wrapper {
  margin-top: var(--spacing-s);
  .preview-image__wrapper {
    width: 100%;
    min-height: 40px;
    margin-top: var(--spacing-s);
    background-color: var(--color-header-button);
    border-radius: var(--border-radius);
    padding: var(--spacing-s);
    text-align: center;
    .preview-image__container {
      margin-bottom: calc(var(--spacing-xs) * -1);
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .preview-image {
      max-width: 50%;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius);
      margin-bottom: var(--spacing-xs);
    }
  }
}

.cropCanvas {
  margin-top: var(--spacing-s);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-text-inverse);
  border-radius: var(--border-radius);
  outline: 2px solid var(--color-border);
  padding: var(--spacing-xs);
  line-height: 0;
  max-height: 350px;
  // max-width:466px;

  img {
    padding: 0;
    object-fit: contain;
    max-height: 350px;
    max-width: 466px;
  }
}

.modal_header {
  display: flex;
  width: calc(var(--modal-width) - 4px);
  align-items: center;
  margin-top: calc(var(--spacing-l) * -1);
  margin-left: calc(var(--spacing-l) * -1);
  margin-right: calc(var(--spacing-l) * -1);
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-m);
  background: var(--color-text-inverse);
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  @media (max-width: $breakpoint-small) {
    margin-top: calc(var(--spacing-s) * -1);
    margin-left: calc(var(--spacing-s) * -1);
    margin-right: calc(var(--spacing-s) * -1);
    padding: 22px;
  }

  svg {
    margin-right: var(--spacing-s);
  }

  h2 {
    font-weight: 900;
    line-height: 1rem;
  }
}
