.claim-preview-featured {
  // background-color:rgba(0,0,0,0.1);
  border-radius: var(--border-radius);
  color: var(--color-text);
  .media__thumb {
    width: calc(var(--file-list-thumbnail-width) * 2) !important;
    margin-right: 0 !important;
  }
  .claim-preview__text {
    justify-content: flex-start;
    padding: 0 var(--spacing-s);
    .claim-preview-info {
      font-size: var(--font-large);
    }
    .mediaInfo__description {
      p {
        font-size: var(--font-small);
      }
    }
    .media__info-text--contracted {
      max-height: 7rem;
      margin-top: 0;
      .mediaInfo__description {
        max-height: 7rem;
      }
    }
  }

  &:hover {
    .claim-preview-info {
      color: var(--color-primary);
    }
  }
}
