.bank-account-status {
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);
  border-radius: var(--border-radius);
  border: 2px solid rgba(255, 0, 0, 0.8);
  background-color: rgba(255, 0, 0, 0.1);

  div {
    label {
      display: block;
      font-size: var(--font-body);
      font-weight: var(--font-weight-bold);
    }

    span {
      display: block;
      font-size: var(--font-small);
      font-weight: var(--font-weight-bold);
      opacity: 0.8;
    }
  }

  .button {
    width: auto;
    margin-top: var(--spacing-s);
    margin-bottom: 0;
  }
}

.membership__mychannels-header {
  width: 100%;
  background-size: cover;
  background-position: top -320px left 0px;
  background-image: url('/public/img/my_channels.jpg');
  border-radius: var(--border-radius);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  margin-top: var(--spacing-m);

  label {
    padding: var(--spacing-m);
    // background-color: rgba(100, 68, 154, 0.6);
    background-color: rgba(184, 55, 105, 0.6);
    border-radius: var(--border-radius);
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    color: white;
  }
}

.membership__mypledges-header {
  width: 100%;
  background-size: cover;
  background-position: top -180px left 0px;
  background-image: url('/public/img/my_pledges.jpg');
  border-radius: var(--border-radius);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  margin-top: var(--spacing-xxl);

  label {
    padding: var(--spacing-m);
    background-color: rgba(0, 208, 217, 0.6);
    border-radius: var(--border-radius);
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    color: white;
  }
}
