@import '~ui/scss/init/breakpoints';

.portals-wrapper {
  width: 100%;
  background-size: cover;
  border-radius: var(--border-radius);
  padding: var(--spacing-l) var(--spacing-xxl);
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: var(--spacing-l);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    width: 100%;
    text-align: center;
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-l) 0;
    color: rgba(255, 255, 255, 0.9);
    background: radial-gradient(rgba(101, 15, 124, 0.7) 0%, transparent 60%);
  }

  .portal-wrapper {
    width: calc((100% - var(--spacing-l) * 5) / 6);
    .portal-thumbnail {
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: none !important;
      transition: background 0.6s;
      img {
        width: 100%;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
    }
    .portal-title {
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      label {
        font-weight: var(--font-weight-bold);
        color: white;
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-s) var(--spacing-m);
    .portal-wrapper {
      width: calc((100% - var(--spacing-m) * 1) / 2);
      margin-bottom: var(--spacing-s);
    }

    h1 {
      padding: var(--spacing-s) var(--spacing-m);
    }
  }

  .portal-page-indicator {
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: gray;
      display: inline-block;
      margin: 0 var(--spacing-xxs);
    }
  }

  .portal-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: var(--spacing-m);
    }
    &.right {
      right: var(--spacing-m);
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
    }
  }

  .portals-remove {
    position: absolute;
    top: var(--spacing-m);
    right: var(--spacing-m);
    background-color: var(--color-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    display: flex;
    opacity: 0;

    svg {
      width: 1rem;
      height: 1rem;
      stroke: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .portal-browse {
      opacity: 0.8;
    }
    .portals-remove {
      opacity: 1;
    }
  }
}
