@import '~ui/scss/init/breakpoints';

.portals-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  border-radius: var(--border-radius);
  padding: var(--spacing-l) 12px;
  margin-bottom: var(--spacing-xxl);
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    color: rgba(255, 255, 255, 0.9);
    background: radial-gradient(rgba(101, 15, 124, 0.7) 0%, transparent 60%);
  }

  .portal-rotator {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
    margin-bottom: var(--spacing-m);
    transition: all 1s;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1 0 auto;
    height: 100%;
  }

  .portal-wrapper {
    display: inline-block;
    margin-right: 12px;
    .portal-thumbnail {
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: none !important;
      transition: background 0.6s;
      img {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
    }
    .portal-title {
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      label {
        font-weight: var(--font-weight-bold);
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .portal-active-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    bottom: var(--spacing-m);
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(150, 150, 150, 0.6);
      display: inline-block;
      margin: 0 var(--spacing-xxs);
      transition: all 1s;
      &:hover {
        cursor: pointer;
        background: white !important;
      }
    }

    @media (max-width: $breakpoint-small) {
      // bottom: 3px;
      div {
        width: 6px;
        height: 6px;
      }
    }
  }

  .portal-active-indicator-active {
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    @media (max-width: $breakpoint-small) {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .portal-browse {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(var(--color-header-background-base), 0.8);
    opacity: 0;
    text-align: center;
    font-size: 38px;

    &.left {
      left: var(--spacing-m);
    }
    &.right {
      right: var(--spacing-m);
    }

    &:hover {
      cursor: pointer;
      opacity: 1 !important;
      background: rgba(var(--color-header-background-base), 1);
    }
  }

  .portals-remove {
    position: absolute;
    top: var(--spacing-m);
    right: var(--spacing-m);
    background-color: var(--color-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    display: flex;
    opacity: 0;

    svg {
      width: 1rem;
      height: 1rem;
      stroke: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.kill {
    display: none;
  }

  &:hover {
    .portal-browse {
      opacity: 0.8;
    }
    .portals-remove {
      opacity: 1;
    }
  }
}
