$breakpoint-xxsmall: 450px;
$breakpoint-xsmall: 600px;
$breakpoint-small: 900px;
$breakpoint-medium: 1150px;
$breakpoint-large: 1600px;
$breakpoint-xlarge: 2500px;
$breakpoint-xxlarge: 3600px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-narrow: 520px;
$breakpoint-mobile-wide: 720px;
$breakpoint-small-plus: 1000px;
$breakpoint-desktop-compact: 1450px;
$breakpoint-desktop-wide: 1750px;
$breakpoint-desktop-xwide: 1900px;
$breakpoint-shorts: 1020px;
$breakpoint-shorts-medium: 1050px;
$breakpoint-shorts-large: 1180px;
$breakpoint-shorts-wide: 1380px;
$breakpoint-shorts-xwide: 1400px;
