@import '~ui/scss/init/breakpoints';

.collection-publish-form__wrapper {
  .help {
    color: var(--color-text);
  }

  @media (min-width: $breakpoint-small) {
    .claim-preview--collection-editing {
      height: unset;
      position: relative;

      .media__thumb {
        position: relative;
        right: unset;

        .claim-preview__hover-actions {
          display: visible;
        }
      }

      .claim-preview__text {
        position: unset;
        right: unset;
        width: 100%;
        background-color: unset;
        padding: 0;
        border-radius: unset;

        .claim-preview-info {
          .claim-preview__title {
            font-size: var(--font-small);
          }
        }
        .media__subtitle {
          .button__content {
            .channel-name {
              font-size: var(--font-xsmall);
            }
          }
        }
      }
    }
    .button-dislike {
      margin-right: 0;
    }
  }
}
