@import '~ui/scss/init/breakpoints';

.clh-tag-search {
  .button-toggle {
    border-radius: var(--border-radius);
  }

  .button-toggle--active {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  input::placeholder {
    font-size: var(--font-small);
  }

  .clh-tag-search__clear {
    position: absolute;
    background: unset;
    right: var(--spacing-xxxs);
    &:hover {
      background: unset;
    }
  }

  .clh-tag-search__clear--hidden {
    display: none;
  }
}

.clh-tag-search--standalone {
  width: 100%;
  margin-left: var(--spacing-xs);
}

.clh-tag-search__input_group {
  position: relative;
  display: flex;
  width: 100%;
  fieldset-section {
    width: 100%;
  }
  .icon {
    position: absolute;
    left: var(--spacing-s);
    top: calc(50% - 7px);
  }
}

.clh-tag-search__input {
  width: 100%;
  padding-left: 36px;
  padding-right: 30px;
}

.clh-tag-search__input--hidden {
  display: none;
}
