@import '~ui/scss/init/breakpoints';

.home-tab {
  margin-bottom: calc(var(--spacing-xxl) * 3);

  .channel_sections__actions {
  }

  .section__header--actions {
    display: none;
  }

  .channel_sections__actions {
    margin-bottom: var(--spacing-s);
  }

  .home-section-title {
    margin-bottom: var(--spacing-s);
    margin-top: 0;
  }

  .claim-tile__info {
    padding-bottom: 0;
  }

  .livestream__channel-link {
    padding-bottom: var(--spacing-l);
    margin-bottom: var(--spacing-m);
    border-bottom: 1px solid var(--color-border);
  }

  .home-section-wrapper {
    background: none;
    transition: background 0.2s;
    .order {
      display: none;
      margin: calc(var(--spacing-s) * 2) !important;

      .collection-preview__edit-buttons {
        height: 100px;
        border: 2px solid var(--color-border);
        border-radius: var(--border-radius);
        grid-template-columns: 1fr 1fr 1fr;

        .collection-preview__edit-group {
          width: unset;
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            .button-collection-manage {
              &:nth-child(1) {
                border-top-left-radius: var(--border-radius);
              }
              &:nth-child(2) {
                border-bottom-left-radius: var(--border-radius);
              }
            }
          }
        }
      }
    }
    .home-section-content {
      min-width: 84%;
    }

    .section {
      transform: scale(1);
      background: none;
      padding: 0;
      transition: all 0.2s;
      margin-right: 0;
      padding-bottom: var(--spacing-m);
      margin-bottom: var(--spacing-m);
      border-bottom: 1px solid var(--color-border);

      .show-more {
        position: absolute;
        right: 0;
        color: var(--color-primary);
        margin-top: 1px;
        margin-bottom: var(--spacing-s);

        .icon {
          margin-bottom: -3px;
        }

        &:hover {
          cursor: pointer;
          color: var(--color-secondary);
        }
      }

      .channel-section-card {
        background: unset;
        margin: 0;
        padding: 0;
        .channel-section-card__header {
          display: none;
        }
        .channel-section-card__item {
          border-radius: var(--border-radius);
          margin: 0;
          margin-right: var(--spacing-s);
          overflow: hidden;

          .channel-thumbnail__custom {
            margin: var(--spacing-xs);
            width: 4rem;
            height: 4rem;
            transition: transform 0.2s;
          }

          .channel-thumbnail--resolving {
            background-color: unset;
          }

          .claim-preview__title {
            color: rgba(var(--color-text-base), 0.9);
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
          }

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            .channel-thumbnail__custom {
              transform: scale(1.08);
            }
            .claim-preview__title {
              color: var(--color-primary);
            }
          }
        }
        .channel-section-card__item-overflow {
          display: none;
        }
      }
    }
    .mb-m {
      margin-top: 0;
      padding-bottom: var(--spacing-m);
      margin-bottom: var(--spacing-m);
      border-bottom: 1px solid var(--color-border);

      .section__header--actions {
        display: flex;
        margin-bottom: 0;

        .section__actions {
          margin-bottom: 0;
        }
      }
    }
  }

  .home-section-wrapper--edit {
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: rgba(var(--color-header-button-base), 0.3);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-xs);
    width: 100%;

    .order {
      display: inline-block;
      min-width: 160px;
      margin: var(--spacing-s);
      border-radius: var(--border-radius);
    }
    .section {
      width: 100%;
      margin-left: auto;
      background: var(--color-header-background);
      padding: var(--spacing-xs) var(--spacing-m);
      transform: scale(0.8) translateY(-13%);
      margin: 0;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius);
      // margin-top: calc(var(--spacing-s) * -1);
      margin-top: var(--spacing-s);
      min-height: 203px;

      align-self: flex-end;
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .show-more {
        margin-right: var(--spacing-s);
      }

      .claim-preview__wrapper {
        background-color: unset;
      }
    }

    @media (max-width: $breakpoint-small) {
      flex-flow: column;
      .order {
        width: unset;
        margin: var(--spacing-s) !important;
        margin-bottom: calc(var(--spacing-s) * -1) !important;
        .collection-preview__edit-buttons {
          width: 100%;
          height: 50px;
          .collection-preview__edit-group {
            flex-direction: row;
          }
        }
      }
      .home-section-header-wrapper {
        margin: 0 var(--spacing-s);
        flex-wrap: wrap;
      }
      .section {
        max-width: 100% !important;
        width: unset !important;
        margin: var(--spacing-s);
        transform: scale(1);
        box-sizing: border-box;
      }
    }
  }

  .home-section-wrapper--edit-featured {
    @media (min-width: $breakpoint-small) {
      max-height: 308px;
    }
  }
  .home-section-wrapper--edit-content {
    @media (min-width: $breakpoint-small) {
      max-height: 960px;
    }
    @media (min-width: $breakpoint-medium) {
      max-height: 758px;
    }
    @media (min-width: $breakpoint-large) {
      max-height: 520px;
    }
  }
  .home-section-wrapper--edit-playlist {
    @media (min-width: $breakpoint-small) {
      max-height: 960px;
    }
    @media (min-width: $breakpoint-medium) {
      max-height: 758px;
    }
    @media (min-width: $breakpoint-large) {
      max-height: 520px;
    }
  }
  .home-section-wrapper--edit-playlists {
    @media (min-width: $breakpoint-small) {
      max-height: 960px;
    }
    @media (min-width: $breakpoint-medium) {
      max-height: 758px;
    }
    @media (min-width: $breakpoint-large) {
      max-height: 520px;
    }
  }
  .home-section-wrapper--edit-onerow {
    @media (min-width: $breakpoint-small) {
      max-height: 360px;
    }
    @media (min-width: $breakpoint-large) {
      max-height: 336px;
    }
  }

  .home-section-header-wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: var(--spacing-s);
    width: 80%;
    max-width: 80%;

    .home-section-header-option {
      padding-right: var(--spacing-s);

      label {
        display: block;
      }
      select {
        box-shadow: 0px 0px 0px 2px var(--color-border) inset;
        max-width: 204px;
        overflow: hidden;
        &:focus-visible {
          box-shadow: 0px 0px 0px 2px var(--color-primary) inset;
          color: var(--color-primary-contrast);
        }
      }
      input {
        box-shadow: 0px 0px 0px 2px var(--color-border) inset;
      }
    }
  }

  .claim-preview--tile {
    margin-bottom: var(--spacing-l);
  }

  .livestream__channel-link {
    padding-bottom: var(--spacing-m);
    margin-bottom: var(--spacing-l) !important;
    border-bottom: unset;
  }
}

.home-tab-edit {
  position: fixed;
  bottom: 0;
  width: calc(100% - 2 * var(--spacing-l));
  max-width: var(--page-max-width);
  background-color: var(--color-header-background);
  border: 2px solid var(--color-border);
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0px 1px 4px 1px var(--color-shadow);
  backdrop-filter: blur(4px);
  background-color: var(--color-header-background);
  animation-name: moveUp;
  animation-duration: 0.2s;
  padding: var(--spacing-s);
  z-index: 99;

  .button {
    margin-right: var(--spacing-m);
  }
}

@keyframes moveUp {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}
