.wallet-send-tip-modal {
  .confirm__wrapper {
    .confirm__value {
      width: 100%;
    }
    .claim-preview__wrapper--channel {
      width: 100% !important;
    }
  }

  .icon--DollarSign {
    height: 16px;
  }

  .button {
    padding: 0 calc(var(--spacing-m) - 3px);
  }
}
