.upcoming-livestreams {
  .section__header--actions {
    margin-bottom: 0;
  }
  .section__header--actions {
    margin-top: 0;
    padding-top: 0;
    .claim-grid__header {
      margin-top: 0;
      margin-bottom: 0;
      .icon__wrapper {
        display: none;
      }

      .claim-grid__title {
        font-size: var(--font-medium);
        font-weight: var(--font-weight-bold);
        margin-bottom: var(--spacing-s);
      }
    }
  }

  .hide-livestreams {
    &.button--link {
      background-color: var(--color-primary);
      border-radius: var(--border-radius);
      color: white;
      font-size: var(--font-base);
      padding: 0 var(--spacing-xxxs) !important;
      margin-top: 2px;
      align-self: flex-start;
      height: unset;
    }

    &:hover {
      background-color: var(--color-text-inverse);
      color: var(--color-primary);
    }
  }
}
