@import '~ui/scss/init/breakpoints';

.depositPage-wrapper {
  display: flex;
  justify-content: center;
  
  .tabs {
    width:100%;

    .tab__panel {
      position: relative;
    }
  
    .tabs__list {
      padding: var(--spacing-xxs);
    }
  }

  .iframe-wrapper {
    position: relative;

    iframe {
      width:100%;
      height:600px;
    }

    &.iframe--disabled {
      iframe {
        opacity: 0.3;
        pointer-events: none;        
      }
    }
  }

  .card--iframe{
    .card__main-actions{
      margin:calc(var(--spacing-s) * -1) !important;
      padding-top:11px;
    }
  }

  .card--background {
    background-color: var(--color-header-button);
    border-radius: var(--border-radius);
    padding: var(--spacing-s);
    height: 100%;


    .section-content__wrapper{
      display:flex;
      flex-direction: column;
      min-height:100%;

      .section__warning{
        padding: var(--spacing-m);
        margin-top:auto;
        background: rgba(255,0,0,.2);
        border:2px solid var(--color-text-error);
        border-radius: var(--border-radius);
      }
    }

    .card__title-section {
      padding-top: 0;
      width: 100%;

      .card__title-text {
        width: 100%;
        .card__title {
          display: flex;
          align-items: center;
          // background:var(--color-background);
          background-color: var(--color-header-button);
          border-radius: var(--border-radius) var(--border-radius) 0 0;
          padding: var(--spacing-xxs);
          min-width: 100%;
          margin-top: calc(var(--spacing-s) * -1);
          margin-left: calc(var(--spacing-s) * -1);
          margin-right: calc(var(--spacing-s) * -1);
          box-sizing: content-box;
          // padding-top:6px;

          span {
            margin-bottom: -4px;
          }

          svg {
            margin-bottom: 0;
            background: var(--color-background);
            padding: 4px;
            border-radius: var(--border-radius);
            box-sizing: content-box;
          }

          button {
            height: 27px;
            font-size: var(--font-body);
            padding: 0 var(--spacing-xxs);
            margin-left: auto;
            background:unset !important;
            border:1px solid var(--color-text)            ;
            span {
              margin: 0;
              color: var(--color-text) !important;

              svg {
                color: var(--color-text) !important;
                background: none;
                padding-left: 0;
                padding-top: 2px;
              }
            }

            &:hover {
              background: var(--color-text) !important;
              span:not(.button__label) {
                filter: invert(1) !important;
              }
            }
          }
        }
        .card__subtitle {
          min-height: 48px;
          padding-bottom: var(--spacing-s);
          box-sizing: content-box;
        }
      }
    }

    .button--secondary {
      background-color: var(--color-header-button);
      // color:white !important;
    }

    .card__main-actions {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: var(--spacing-m);
      border-top:unset;
    }

    .card__first-pane {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .section__actions {
      background: var(--color-background);
      padding: var(--spacing-s);
      border-radius: var(--border-radius);
      // padding-top:var(--spacing-m);
      margin-top: auto;
    }
    .section__title--small {
      font-weight: 600;
      margin-top: 0;
    }
    .transaction-history{      
      padding:var(--spacing-s);
      background: var(--color-background);
      border-radius:var(--border-radius);
      margin-top: calc(var(--spacing-s) * -1);

      .transaction-history__row{
        display:flex;
        gap:var(--spacing-s);

        .transaction-history__action{
          min-width:90px;
        }
        .transaction-history__direction{
          min-width:50px;
        }
      }
    }
  }

  .wallet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
