@import '~ui/scss/init/breakpoints';

.card--overview {
  .payment-options-wrapper {
    display: flex;
    width: 100%;
    gap: var(--spacing-m);

    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }

  .payment-options-card{
    display:flex;
    flex:1;
    flex-direction: column;
    gap:var(--spacing-s);
    height:100%;
  }

  .payment-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    .payment-option-wrapper {
      display: flex;
      flex-direction: column;
    }
    .payment-option {
      display: flex;
      flex-direction: column;
      flex: 1;

      fieldset-section {
        width: 100%;

        .form-field--copyable {
          background-color: var(--color-header-button);
        }
      }

      .qr-code {
        width: 200px;
        height: 200px;
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }

    }


      .payment-option__monetization {
        display: flex;
        background: var(--color-header-button);
        gap: var(--spacing-l);
        border-radius: var(--border-radius);
        padding: var(--spacing-xs);
        margin-bottom:var(--spacing-s);
        align-items: center;

        .toggle-wrapper {
          margin-left: auto;
        }

        &:last-of-type{
          margin-bottom:0;
        }
      }
  }

  .payment-options-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-background);
    padding: var(--spacing-s);
    border-radius: var(--border-radius);
    gap: var(--spacing-s);

    .payment-option {
      flex: unset;
    }
  }

  .sendAr-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .sendAr-row__amount,
    .sendAr-row__receiver {
      display: flex;
      flex-direction: column;
      width: 100%;
      // justify-content: center;
    }

    .sendAr__total {
      display: flex;
      width: 100%;
      margin-bottom:var(--spacing-s);

      span {
        margin-left: auto;
        font-size: var(--font-xsmall);
        cursor: pointer;
      }
    }

    .sendArLabel {
      display: flex;
      width: 100%;
      align-items: center;
    }

    input {
      background: var(--color-header-button);
      width: 100%;
      margin-left: auto;
    }

    .sendAr-row__send {
      margin-top: var(--spacing-s);
    }
  }

  .transaction-history {
    padding: var(--spacing-s);
    background: var(--color-background);
    border-radius: var(--border-radius);
    margin-top: calc(var(--spacing-s) * -1);

    .transaction-history__row {
      display: flex;
      width:100%;
      gap: var(--spacing-s);
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;

      .transaction-history__date{
        min-width: 90px;
      }
      .transaction-history__action {
        min-width: 60px;
      }
      .transaction-history__direction {
        min-width: 50px;
      }
      .transaction-history__target{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .transaction-history__viewblock{
        margin-left:auto;
        img {
          width:14px;
          height:14px;
          border-radius:50%;
        }
      }

      @media (max-width: $breakpoint-small) {
        font-size:var(--font-xxsmall) !important;
      }

      @media (max-width: $breakpoint-medium) {
        font-size:var(--font-small);

        .transaction-history__date{
          min-width: 90px;
        }
        .transaction-history__action {
          min-width: 30px;
        }
        .transaction-history__token{
          min-width: 30px;
          .icon__symbol-wrapper{
            margin-right:0 !important;
            svg{
              width:12px;
              height:12px; 
            }
          }          
        }
        .transaction-history__direction {
          min-width: 20px;
        }
      }

      &:hover{
        //background-color:rgba(var(--color-text-base),.05);
      }
    }


  }
}
