@import '~ui/scss/init/breakpoints';
@import '~ui/scss/init/mixins';

.claim-preview__wrapper {
  position: relative;
  list-style-type: none;

  .menu__button {
    position: absolute;
    opacity: 0;
    top: var(--spacing-xxxxs);
    right: 0;
    padding: 2px;
    border-radius: 50%;
    z-index: 2;

    &[aria-expanded='true'] {
      opacity: 1;
      .icon {
        stroke: var(--color-primary) !important;
        transform: rotate(90deg);
      }
    }
  }

  .media__thumb {
    overflow: hidden;
    background-size: 100%;
    transition: background-size 0.2s ease-in-out;

    .claim-preview__hover-actions-grid {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: grid;
      justify-items: end;
      justify-content: space-between;
      opacity: 1;

      .claim-preview__hover-actions {
        position: relative;
        float: right;
        margin: 0px var(--spacing-xxs);
        margin-bottom: var(--spacing-xxs);
        top: var(--spacing-xxs);

        &.second-item {
          grid-column: 2;
          grid-row: 1;
        }

        &.third-item {
          grid-column: 2;
          grid-row: 2;
        }

        .button--file-action,
        .download-text {
          display: block;
          margin: 0 0;
          padding: var(--spacing-xxs) var(--spacing-xxs);
          height: unset;

          .button__label {
            color: #f3f4f6;
            font-size: var(--font-small);
            display: none;
          }

          &:hover {
            .button__label {
              display: inline;
            }
          }
        }

        .button--file-action {
          width: auto;
          max-width: 25.59px;
          transition: max-width 0.2s;
          padding: 0.3rem !important;
          margin-right: 0;
          background-color: var(--color-black);

          .button__content {
            flex-direction: row-reverse;
          }
          .button__label {
            font-size: var(--font-xsmall);
            color: var(--color-white);
            display: none;
            margin-top: -1px;
            padding-top: 0px;
            margin-bottom: -4px;
            margin-left: 4px;
            margin-right: var(--spacing-xxs);
            text-overflow: ellipsis;
          }
          &:hover {
            width: auto;
            min-width: 25.59px;
            max-width: 140px;
            .icon {
              stroke: white;
            }
          }
        }

        @media (pointer: fine) {
          display: none;
        }

        @media (pointer: none), (pointer: coarse) {
          display: none !important;
        }
      }
    }
  }

  .claim-preview__title {
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-right: var(--spacing-m);
    color: rgba(var(--color-text-base), 0.9);
  }

  &:hover {
    .menu__button {
      opacity: 1;
    }
    .media__thumb {
      background-size: 108%;
      box-shadow: 0 0 0 1px rgba(var(--color-primary-dynamic), 1) inset;
      .claim-preview__hover-actions-grid {
        .claim-preview__hover-actions {
          display: block;
        }
      }
    }
    .claim-preview__title {
      color: var(--color-primary);
    }
  }

  @media (max-width: $breakpoint-small) {
    .menu__button {
      top: 4px !important;
      right: 4px !important;
      opacity: 0.6;
    }
  }
}

.claim-preview--tile {
  margin-bottom: var(--spacing-m);
  margin-right: 0;
  margin-top: 0;
  margin-left: var(--spacing-m);
  justify-content: flex-start;
  list-style: none;

  .menu__button {
    &[aria-expanded='true'] {
      background-color: var(--color-header-button) !important;
    }
  }

  .claim-preview__title {
    font-size: var(--font-small);
    padding-top: var(--spacing-xs);
    min-height: 3.2rem;
  }

  // neko rename claim-preview__channel
  .channel-name {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (min-width: $breakpoint-large) {
    $width: calc((100% - var(--spacing-m) * 5) / 6);
    width: $width;
    @include handleClaimTileGifThumbnail($width);

    &:first-child,
    &:nth-child(6n + 1) {
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint-large) and (min-width: $breakpoint-medium) {
    $width: calc((100% - var(--spacing-m) * 3) / 4);
    width: $width;
    @include handleClaimTileGifThumbnail($width);

    &:first-child,
    &:nth-child(4n + 1) {
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
    $width: calc((100% - var(--spacing-m) * 2) / 3);
    width: $width;
    @include handleClaimTileGifThumbnail($width);

    &:first-child,
    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint-small) {
    $width: 100%;
    width: $width;
    @include handleClaimTileGifThumbnail($width);
    margin-left: 0;

    .claim-preview__title {
      min-height: unset;
    }

    &:not(:first-child) {
      margin-top: var(--spacing-s);
    }

    .claim__menu-button {
      opacity: 1;
    }
  }
}

.claim-preview__wrapper--row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--spacing-m);
  width: 100%;
  overflow: hidden;
  background-color: rgba(var(--color-header-button-base), 0.4);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-m) !important;

  &::before {
    background: linear-gradient(180deg, rgba(var(--color-background-base), 0.8), transparent 90%);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    content: '';
    height: 100%;
    width: 100%;
    transition: opacity 0.2s;
  }

  .menu__button {
    top: var(--spacing-m);
    right: var(--spacing-m);
    padding: 4px;

    &[aria-expanded='true'] {
      opacity: 1;
      background-color: var(--color-background);

      .icon {
        transform: rotate(90deg);
      }
    }
  }

  .background {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    top: -10px;
    left: 0;
    height: 110%;
    width: 100%;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.2s;
  }

  .media__thumb {
    width: calc(var(--file-list-thumbnail-width) * 1.2) !important;
    background-size: 100%;
    transition: background-size 0.2s;
    &[aria-expanded='true'] {
      opacity: 1;
      background-color: var(--color-background);
    }
  }

  .claim-preview-metadata {
    display: flex;
    flex-direction: column;
    height: 100%;
    .claim-tile__info {
      flex: 1;
      margin-top: 0;
      padding-bottom: 0;

      .claim-preview__channel-staked {
        align-items: start;
      }

      .channel-thumbnail {
        margin-top: 5px;
      }

      .media__subtitle {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 6px;
        margin-bottom: var(--spacing-xxxs);

        .button__content {
          line-height: var(--font-xsmall);
          margin-bottom: 0;
          .channel-name {
            // color: rgba(var(--color-text-base), 0.8);
            .comment__badge {
              svg {
                margin-bottom: -1px;
                height: 12px;
              }
            }
          }
          &:hover {
            .channel-name {
              color: rgba(var(--color-text-base), 1);
            }
          }
        }
        .claim-extra-info {
          margin-top: 2px;
          line-height: var(--font-xsmall);
        }
      }

      .button {
        display: inline;
        @media (max-width: $breakpoint-small) {
          .button__content {
            width: 100%;
            .channel-name {
              width: 100%;
              p {
                width: 100%;
                margin-right: var(--spacing-xs);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      .claim-preview__actions {
        margin-top: 0;
        flex: 2;
        .claim__tags {
          margin-top: auto;
          margin-bottom: var(--spacing-xxxs);
          .tag {
            background-color: var(--color-background);
            &:hover {
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
    .claim-preview__tags {
      display: flex;
      width: 100%;
      justify-content: end;
      margin-bottom: var(--spacing-xxxs);
      .tag {
        display: inline-block !important;
      }
    }
    .description__wrapper {
      margin-top: auto;
      width: 100%;
      display: block;
      padding: var(--spacing-xs) var(--spacing-xs);
      background-color: rgba(var(--color-background-base), 0.6);
      border-radius: var(--border-radius);
      min-height: 56px;

      .description {
        font-size: var(--font-small);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        // word-wrap: break-word;
        overflow-wrap: anywhere;
        opacity: 0.7;
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px var(--color-background) inset;

    &::before {
      opacity: 1;
    }

    .menu__button {
      background-color: var(--color-background);
    }

    .background {
      opacity: 0.9;
    }
  }

  &.placeholder {
    background-color: rgba(var(--color-header-button-base), 0.4) !important;
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xs);
    margin-bottom: var(--spacing-xs) !important;
    .media__thumb {
      width: calc(var(--file-list-thumbnail-width) * 0.8) !important;
    }
    .claim-preview-metadata {
      .claim-tile__info {
        margin-top: auto;
        align-items: flex-end;
        .claim-preview__tags {
          width: unset;
        }
        /*
        .media__subtitle{
          align-self: unset;
        }
        */
      }
      .description__wrapper {
        display: none;
      }
    }
  }
}

// neko rename to header?
.claim-preview__wrapper--inline {
  .channel-thumbnail {
    height: var(--channel-thumbnail-width--small);
    width: var(--channel-thumbnail-width--small);
  }

  .claim-preview__actions {
    display: flex;
    flex-direction: row !important;
    margin-top: unset !important;
    .membership-button-wrapper {
      margin-top: 0;
    }
  }
}

.claim-preview__wrapper--recommendation {
  margin-bottom: var(--spacing-m);
  .menu__button {
    top: -3px;
    &[aria-expanded='true'] {
      background-color: var(--color-header-button) !important;
    }
  }
  .claim-preview__title {
    font-size: var(--font-small);
  }

  .claim-preview__actions {
    flex-direction: row;
  }

  &:hover {
    .menu__button {
      background-color: unset;
    }
  }
}

.claim-preview--channel {
  .claim-preview__text {
    flex-direction: row;

    .claim-preview-metadata {
      flex: 1;
      width: 100%;
    }

    .claim-preview__actions {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-left: var(--spacing-m);
      button {
        width: 100%;
        margin-top: var(--spacing-xxxs);
      }
      .button-group {
        button {
          background-color: var(--color-primary);
          color: var(--color-primary-contrast);
        }
      }
    }
  }
}

.claim-preview__wrapper--playlist-row {
  margin-bottom: 0;
  background-color: rgba(var(--color-background-base), 0.6);

  .claim-preview {
    padding-left: var(--spacing-s);

    .claim-tile__info,
    .button__content {
      margin-top: 0;
      pointer-events: none;
    }

    .claim-preview__title {
      font-size: var(--font-small);
      line-height: calc(var(--font-small) + 5px);
    }

    .claim-tile__info {
      // position:absolute;
      padding-bottom: 0;
      width: 100%;
      bottom: 1px;
      .media__subtitle {
        width: 184px;

        .channel-name {
          p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
    .channel-name {
      margin-top: 4px;
      font-size: var(--font-xsmall);
      line-height: var(--font-xsmall);

      .comment__badge {
        svg {
          margin-bottom: -3px;
          width: 16px;
          height: 16px;
        }
      }
    }
    .claim-extra-info {
      line-height: var(--font-xsmall);
      .date_time {
        font-size: var(--font-xsmall);
        line-height: var(--font-xsmall);
      }
    }
    .channel-thumbnail--xsmall {
      margin-top: var(--spacing-xxxxs);
      margin-right: var(--spacing-xxxs);
      width: 1.6rem;
      height: 1.6rem;
      .ff-canvas {
        width: 1.6rem !important;
        height: 1.6rem !important;
      }
    }
  }

  .menu__button {
    top: var(--spacing-xxxs);
    right: var(--spacing-xxxs);
  }

  &:hover {
    background-color: rgba(var(--color-background-base), 0.9);
    .claim-preview__title {
      color: var(--color-primary) !important;
    }
  }
}

.claim-preview {
  flex: 1;
  display: flex;
  position: relative;
  overflow: visible;
  max-width: 100%;

  &:not(.claim-preview--inline):not(.claim-preview--pending):not(.claim-preview--inactive) {
    cursor: pointer;
  }

  .media__thumb {
    overflow: hidden;
    $width: calc(var(--file-list-thumbnail-width) * 1.2);
    width: var(--file-list-thumbnail-width);
    @include handleClaimListGifThumbnail($width);

    flex-shrink: 0;
    margin-right: var(--spacing-s);

    .ff-canvas,
    .freezeframe-img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: unset;
    }
  }

  .media__thumb-placeholder-text {
    display: flex;
    align-items: center;
    padding: var(--spacing-m);
  }

  .channel-thumbnail {
    // @include handleChannelGif(6rem);
  }
  .claim-preview__text {
    overflow: hidden;
  }

  // any-pointer media query prevents double click hover bug on ipad
  @media (any-pointer: fine) {
    // show watch later button and duration divs when hovered
    &:hover {
      .media__thumb {
        box-shadow: 0 0 0 1px rgba(var(--color-primary-dynamic), 1) inset;
      }
      .claim-preview__title {
        // color: var(--color-link);
      }
      .claim-preview__hover-actions {
        display: block;
      }
      .claim-preview__file-property-overlay {
        opacity: 1;
      }
      .button--file-action {
        .icon {
          stroke: #f3f4f6;
        }
      }
      .ff-canvas {
        opacity: 0 !important;
        transition: opacity 1s !important;
      }
      .ff-image {
        opacity: 1 !important;
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    font-size: 14px;

    .channel-thumbnail {
      @include handleChannelGif(4rem);
      width: 2rem;
      height: 2rem;
    }
    .claim-preview-metadata {
      .claim-tile__info {
        .media__subtitle {
          margin-bottom: 2px;
          width: calc(100% - 2.1rem);
        }
      }
    }
  }
}
