.claim-preview__wrapper {
  position: relative;
  padding: var(--spacing-m);
  width: 100%;
  overflow: hidden;
  // background-color: rgba(var(--color-text-base), 0.2);
  background-color: rgba(var(--color-background), 0.4);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-m) !important;

  &::before {
    background: linear-gradient(180deg, rgba(var(--color-background-base), 0.8), transparent 90%);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    content: '';
    height: 100%;
    width: 100%;
    transition: opacity 0.2s;
  }

  .background {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    top: -10px;
    height: 110%;
    width: 100%;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.2s;
  }

  .media__thumb {
    background-size: 100%;
    transition: background-size 0.2s;
  }

  .claim-preview-metadata {
    position: relative;
    flex-direction: column;
    .claim-tile__info {
      // flex-direction: column;
      margin-top: 0;
      // margin-bottom: var(--spacing-xxxs);
      padding-bottom: 0;

      .media__subtitle {
        display: flex;
        flex-direction: column;
        // width: 100% !important;
        width: unset !important;

        .button__content {
          line-height: var(--font-xsmall);
          margin-bottom: 0;
          .channel-name {
            color: rgba(var(--color-text-base), 0.8);
          }
        }
        .claim-extra-info {
          margin-top: 2px;
          line-height: var(--font-xsmall);
          // color: rgba(var(--color-text-base), 0.8);
        }
      }

      .claim-preview__actions {
        margin-top: 0;
        flex: 2;
        .claim__tags {
          margin-top: auto;
          margin-bottom: var(--spacing-xxxs);
        }
      }
    }
    .description__wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
      padding: var(--spacing-s);
      background-color: rgba(var(--color-background-base), 0.6);
      border-radius: var(--border-radius);
      min-height: calc((var(--font-small) * 3) + (var(--spacing-s) * 2));

      .description {
        font-size: var(--font-small);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        -webkit-box-orient: vertical;
      }
    }
  }

  .claim__tags {
    .tag {
      background-color: var(--color-background);
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px var(--color-background) inset;

    &::before {
      opacity: 1;
    }

    .background {
      opacity: 0.9;
    }

    .media__thumb {
      background-size: 108%;
    }
  }
}
