@import '~ui/scss/init/breakpoints';

.publish-visibility {
  fieldset-section.radio {
    margin-top: var(--spacing-s);

    > label {
      font-size: var(--font-base);
    }
  }
}

.publish-visibility {
  margin-bottom: var(--spacing-xl);
}
