@import '~ui/scss/init/breakpoints';

.publish-visibility {
  fieldset-section.radio {
    display: block;

    margin-top: var(--spacing-s);

    > label {
      font-size: var(--font-base);
    }
  }
}

.publish-visibility {
  margin-bottom: var(--spacing-xl);
}

.disabledUnlistedUpload {
  opacity: 0.5;
  pointer-events: none;
}

.unlistedBlockchainWarning {
  margin-left: 34px;
  font-size: var(--font-xsmall);
  margin-top: 7px;
  color: var(--color-text);
  opacity: 0.8;
}
