@import '~ui/scss/init/breakpoints';

.historyPage-wrapper {
  .claim-preview__wrapper {
    .claim-preview__history-remove {
      position: absolute;
      top: var(--spacing-s);
      right: 40px;
      opacity: 0;

      .icon {
        width: 22px;
        height: 22px;
      }

      &:hover {
        .icon {
          stroke: var(--color-primary);
          cursor: pointer;
        }
      }

      @media (max-width: $breakpoint-small) {
        opacity: 1;
      }
    }

    .menu__button.claim__menu-button {
      top: var(--spacing-xs);
      right: var(--spacing-xs);
    }

    &:hover {
      .claim-preview__history-remove {
        opacity: 1;
      }
    }
  }
}
